{% assign bundleDataValue = bundleData.value %}
{% assign totalPriceAct = 0 %}
{% assign totalCompareAct = 0 %}
{% assign productFromBundleDataValue = all_products[bundleDataValue.mainHandle] %}
<script type="application/json" id="bundleJson">
  {
    "bundleData": {{ bundleDataValue | json }},
    "steps":
        [
            {
                "stepTitle": {{ bundleDataValue.mainStepTitle | json }},
                "handle": {{ bundleDataValue.mainHandle | json }},
                "quantity": {{ bundleDataValue.mainStepQuantity | plus: 0 -}},
                {%- comment %}
                    check if colour matches, if not, get first variant
                {%- endcomment %}
                {% assign hasMainVariantId = false -%}
                {%- if productFromBundleDataValue.variants -%}
                    {%- for variant in productFromBundleDataValue.variants -%}
                        {% if variant.compare_at_price %}
                          {% assign thisComp = variant.compare_at_price %}
                        {% else %}
                          {% assign thisComp = variant.price %}
                        {% endif -%}
                        {%- assign colour_slug = variant.option1 | handleize -%}
                        {%- if colour_slug == selected_colour -%}

                            {%- assign hasMainVariantId = true -%}
                "variantId": {{ variant.id | json -}},
                "image": "{% if variant.featured_image.src != blank %}{{ variant.featured_image.src | image_url: width: 200, height: 200 }}{% endif %}",
                "price": {{ variant.price | json -}}{% liquid
                  assign thisPrice = variant.price | times: bundleDataValue.mainStepQuantity
                  assign totalPriceAct = totalPriceAct | plus: thisPrice %},
                "compare_at_price": {{thisComp-}}{% liquid
                  assign thisPrice = thisComp | times: bundleDataValue.mainStepQuantity
                  assign totalCompareAct = totalCompareAct | plus: thisPrice %}
                            {%- break -%}
                            {%- break -%}
                        {%- endif -%}
                    {%- endfor -%}
                {%- endif -%}
                {%- if hasMainVariantId == false -%}
                "variantId": {{ productFromBundleDataValue.selected_or_first_available_variant.id | json -}},
                "image": "{%- if productFromBundleDataValue.selected_or_first_available_variant.featured_image.src != blank -%}
                  {{- productFromBundleDataValue.selected_or_first_available_variant.featured_image.src | image_url: width: 200, height: 200 -}}
                {%- endif -%}",
                "price": {{ productFromBundleDataValue.selected_or_first_available_variant.price | json -}}{% liquid
                  assign thisPrice = productFromBundleDataValue.selected_or_first_available_variant.price | times: bundleDataValue.mainStepQuantity
                  assign totalPriceAct = totalPriceAct | plus: thisPrice
                  if productFromBundleDataValue.selected_or_first_available_variant.compare_at_price
                    assign thisComp = productFromBundleDataValue.selected_or_first_available_variant.compare_at_price
                  else
                    assign thisComp = productFromBundleDataValue.selected_or_first_available_variant.price
                  endif
                %},
                "compare_at_price": {{ thisComp }}{% liquid
                  assign thisPrice = thisComp | times: bundleDataValue.mainStepQuantity
                  assign totalCompareAct = totalCompareAct | plus: thisPrice %}
                {%- endif %}
            }
            {%- if bundleDataValue.items.size > 0 -%}
            {%- for item in bundleDataValue.items -%}
                ,
            {
                "stepTitle": {{ item.stepTitle | json }},
                "handle": {{ item.handle | json }},
                "quantity": {{ item.stepQuantity | plus: 0 -}},
                {%- comment %}
                    check if colour matches, if not, get first variant
                {%- endcomment -%}
                {%- assign selected_variants = item.variants | map: 'id' | replace: 'gid://shopify/ProductVariant/', '' %}
                {%- assign hasItemVariantId = false -%}
                {%- if all_products[item.handle].variants -%}
                    {%- for variant in all_products[item.handle].variants -%}
                        {% if variant.compare_at_price %}
                          {% assign thisComp = variant.compare_at_price %}
                        {% else %}
                          {% assign thisComp = variant.price %}
                        {% endif -%}
                        {%- if selected_variants contains variant.id  -%}
                        {%- assign colour_slug = variant.option1 | handleize -%}
                        {%- if colour_slug == selected_colour -%}
                            {%- assign hasItemVariantId = true -%}
                    "variantId": {{ variant.id | json -}},
                    "image": "{%- if variant.featured_image.src != blank -%},
                      {{- variant.featured_image.src | image_url: width: 200, height: 200 -}}
                    {%- endif  -%}",
                    "price": {{ variant.price | json -}}{% liquid
                      assign thisPrice = variant.price | times: item.stepQuantity
                      assign totalPriceAct = totalPriceAct | plus: thisPrice %},
                    "compare_at_price": {{ thisComp }}{% liquid
                      assign thisPrice = thisComp | times: item.stepQuantity
                      assign totalCompareAct = totalCompareAct | plus: thisPrice %},
                            {%- break -%}
                        {%- endif -%}
                        {% endif %}
                    {%- endfor -%}
                {%- endif %}
                {% if hasItemVariantId == false -%}
                    {%- if all_products[item.handle].variants -%}
                      {%- for variant in all_products[item.handle].variants -%}
                        {% if variant.compare_at_price %}
                          {% assign thisComp = variant.compare_at_price %}
                        {% else %}
                          {% assign thisComp = variant.price %}
                        {% endif -%}
                        {%- if selected_variants contains variant.id  -%}

                    "variantId": {{ variant.id | json -}},
                    "image": "{%- if variant.featured_image.src != blank -%}
                    {{- variant.featured_image.src | image_url: width: 200, height: 200 -}}
                    {% endif -%}
                    ",
                    "price": {{ variant.price | json -}}{% liquid
                      assign thisPrice = variant.price | times: item.stepQuantity
                      assign totalPriceAct = totalPriceAct | plus: thisPrice %},
                    "compare_at_price": {{ thisComp }}{% liquid
                      assign thisPrice = thisComp | times: item.stepQuantity
                      assign totalCompareAct = totalCompareAct | plus: thisPrice %},
                            {%- break -%}
                        {% endif %}
                      {%- endfor -%}
                    {%- endif %}
                {%- endif %}
                "variants": {{ item.variants | json }}
            }
            {%- endfor -%}
            {%- endif %}
        ],
    "variants": [
      {%- if productFromBundleDataValue.variants  -%}
        {%- for item in  productFromBundleDataValue.variants %}
          {
            "id": {{ item.id }},
            "available": {{ item.available }},
            "product_title": "{{ item.product.title }}",
            "price": {{ item.price }},
            "compare_at_price": {% if item.compare_at_price %}{{ item.compare_at_price }}{% else %}{{ item.price }}{% endif %},
            "featured_image": "{% if item.featured_image.src %}{{ item.featured_image.src | image_url }}{% endif %}",
            "options": [{% for var in item.product.options_with_values -%}
                "{{ var.name }}: {% for varval in var.values -%}
                  {%- if varval == item.option1 or varval == item.option2 or varval == item.option3 -%}
                    {{- varval -}}
                    {%- break -%}
                  {%- endif -%}
                {%- endfor -%}"
              {%- unless forloop.last %},{% endunless -%}
            {%- endfor %}]
          },
        {%- endfor -%}
      {%- endif -%}
      {%- for bundleItem in bundleDataValue.items -%}
      {% assign firstLast = forloop.last %}
      {% if all_products[bundleItem.handle].variants %}
        {% for item in  all_products[bundleItem.handle].variants %}
          {
            "id": {{ item.id }},
            "product_title": "{{ item.product.title }}",
            "available": {{ item.available }},
            "price": {{ item.price }},
            "compare_at_price": {% if item.compare_at_price %}{{ item.compare_at_price }}{% else %}{{ item.price }}{% endif %},
            "featured_image": "{% if item.featured_image.src %}{{ item.featured_image.src | image_url }}{% endif %}",
            "options": [{% for var in item.product.options_with_values -%}
              "{{ var.name }}: {% for varval in var.values -%}
                {%- if varval == item.option1 or varval == item.option2 or varval == item.option3 -%}
                  {{- varval -}}
                  {%- break -%}
                {%- endif -%}
              {%- endfor -%}"
            {%- unless forloop.last %},{% endunless -%}
          {%- endfor %}]
          }{% unless forloop.last and firstLast %},{% endunless %}
        {% endfor  %}
      {% endif %}
      {%- endfor -%}
    ]
  }
</script>

{% comment %}
  get total price and discount
{% endcomment %}

{% assign totalPercentOff = 0 %}

{% assign totalCompare = totalCompareAct %}
{% assign totalPrice = totalPriceAct %}

{% if totalCompare > totalPrice %}
  {% assign totalPercentOff = totalPrice
    | times: 100.0
    | divided_by: totalCompare
    | times: 100.0
    | money_without_currency
  %}

  {% assign totalPercentOff = 100 | minus: totalPercentOff %}
{% endif %}

{% comment %}
  apply bundle discount
{% endcomment %}
{% if bundleDataValue.bundleDiscount > 0 %}
  {% assign diff = totalPrice | times: bundleDataValue.bundleDiscount | divided_by: 100 %}
  {% assign totalPrice = totalPrice | minus: diff %}
{% endif %}

<div
  id="product-bundle"
  class="
    product product-bundle product-main-container px-4 md:grid md:gap-x-[22px] md:container xl:flex
    [&:not([data-step='0'])_.product\_\_info-wrapper]:max-md:border-b  [&:not([data-step='0'])_.not-step-0]:!hidden
    [&[data-step='0']_.hide-step-0]:!hidden [&[data-step='0']_#product-actions]:md:my-10 [&[data-step='0']_#product-actions]:lg:my-20
  "
  data-step="0"
>
  <div class="quick-add-mob-product-header">
    <p class="text-lg font-semibold tracking-[.15px] quick-add-mob-product-title">
      {{ product.title | escape }}
    </p>
    <div class="quick-add-mob-product-price" data-dynprice>
      {% if is_product_bundle %}
        {% liquid
          assign bp_compare_at_price = current_variant.compare_at_price
          assign bp_price = current_variant.price
        %}
        {% render 'bundle-price-discount', bp_compare_at_price: bp_compare_at_price, bp_price: bp_price %}
      {% else %}
        {% if product.price_min != product.price_max %}
          <p>
            <strong class="inline-block text-base font-semibold">
              {{- product.price_min | money }} - {{ product.price_max | money -}}
            </strong>
          </p>
        {% else %}
          <p>
            <strong class="inline-block text-base font-semibold">{{ product.price | money }}</strong>
          </p>
        {% endif %}
      {% endif %}
    </div>
  </div>
  {% if product.media.size > 0 %}
    <div class="product__gallery grid grid-cols-1 xl:grid-cols-[126px_1fr] gap-2 md:top-5 md:sticky xl:flex-1">
      {% render 'product-media-gallery',
        variant_images: variant_images,
        current_variant: current_variant,
        image_handle: 'bundle_image',
        totalCompare: totalCompare,
        totalPrice: totalPrice,
        product: product,
        bundleData: bundleData
      %}
    </div>
  {% endif %}

  <div class="max-md:pt-7 z-20 product__info-wrapper relative self-start">
    {% if product.collections.size > 0 %}
      <nav class="breadcrumb max-md:hidden" date-url="{{ request.params }}">
        <ul class="flex text-blue-1 gap-x-1 overflow-x-auto no-scrollbar">
          {% assign collectionsCount = product.collections.size %}
          <li class="flex items-center">
            <a href="{{ shop.url }}" class="text-xs font-normal whitespace-nowrap">Home</a>
          </li>
          <li class="flex items-center gap-x-1">/</li>
          {% for collection in product.collections %}
            <li class="flex items-center gap-x-1">
              <a href="{{ collection.url }}" class="text-xs font-normal whitespace-nowrap">{{ collection.title }}</a>
              <span>/</span>
            </li>
            {% break %}
          {% endfor %}
          <li class="select-none">
            <strong class="text-xs font-semibold whitespace-nowrap">{{ product.title }}</strong>
          </li>
        </ul>
      </nav>
    {% endif %}

    <product-info
      id="ProductInfo-{{ section.id }}"
      data-section="{{ section.id }}"
      data-url="{{ product.url }}"
      data-url-actual="{{ current_url }}"
      data-productprice="{{ productFromBundleDataValue.selected_or_first_available_variant.price }}"
      data-featimage="{%- if productFromBundleDataValue.selected_or_first_available_variant.featured_image.src != blank -%}{{- productFromBundleDataValue.selected_or_first_available_variant.featured_image.src | image_url: width: 200, height: 200 -}}{%- endif -%}"
      data-variantid="{{ productFromBundleDataValue.selected_or_first_available_variant.id | json -}}"
      class="text-blue-1 space-y-6"
    >
      {%- assign product_form_id = 'product-form-' | append: section.id -%}

      <div>
        <div
          id="product-panel"
          class="max-md:bg-white/90 transition-colors product-panel"
        >
          <div id="product-panel-child" class="max-md:flex max-md:flex-col max-md:items-stretch space-y-6">
            <div class="space-y-4 product-header">
              <header class="space-y-2 md:space-y-4">
                <h1 id="product-title" class="text-base font-normal md:text-[22px] md:leading-7 md:font-semibold">
                  {{ bundleDataValue.bundleTitle | escape }}
                </h1>

                {% if product.metafields.christy23.tagline_pdp %}
                  <div id="product-tagline" class="flex justify-between space-x-5 not-step-0">
                    <div>
                      <p class="font-normal">{{ product.metafields.christy23.tagline_pdp.value }}</p>
                    </div>
                  </div>
                {% endif %}
              </header>

              <div class="flex gap-3 justify-between items-center">
                <div id="product-price" class="flex gap-3 justify-between md:items-center max-md:flex-col not-step-0">
                  {% render 'bundle-builder-page-price', totalCompare: totalCompare, totalPrice: totalPrice %}
                </div>

                <div class="yotpo bottomLine" id="yotpoProductStartRating" onClick="scrollToElement('yotpoProductReviews')" data-product-id="{{ product.id }}"></div>
              </div>

              {% render 'bundle-builder-page-savings', totalCompare: totalCompare, totalPrice: totalPrice %}
            </div>

            <div class="product-bundle-cards">
              {% render 'bundle-item-card',
                item_product: productFromBundleDataValue,
                item_step_quantity: bundleDataValue.mainStepQuantity,
                item_step_title: bundleDataValue.mainStepTitle,
                card_index: 1
              %}

              {% for item in bundleData.value.items %}
                {% assign item_product = all_products[item.handle] %}
                {% assign card_index = forloop.index | plus: 1 %}
                {% if item_product == blank %}
                  {% continue %}
                {% endif %}

                {% render 'bundle-item-card',
                  item: item,
                  item_product: item_product,
                  item_step_quantity: item.stepQuantity,
                  item_step_title: item.stepTitle,
                  card_index: card_index
                %}
              {% endfor %}
            </div>

            <a
              href="{{ product.url }}"
              class="
                btn-product-full-details font-normal hidden btn-secondary btn-secondary-mob-default btn-hover-animated btn-hover-animated-secondary h-10
                w-full !mt-2 uppercase justify-center items-center relative
              "
            >
              View full details
            </a>

            <div class="flex gap-2 items-end product-form__buttons">
              <p class="font-semibold lg:d-h5 hidden">{{ product.title }}</p>

              {% comment %}
                Quantity selector
              {% endcomment %}
              <div class="shrink-0">
                {% unless product.tags contains 'hide-quantity' %}
                  <custom-input-number data-sync-input-selector="[data-quantity-input]">
                    <div class="flex items-center justify-between border border-secondary-blue-100 text-sm leading-normal uppercase h-[48px]">
                      {% assign buttons_classes = 'hover:cursor-pointer w-[37px] h-[47px] xl:w-[47px] flex items-center justify-center select-none disabled:text-secondary-blue-100' %}
                      <button type="button" class="{{ buttons_classes }}" data-decrement>—</button>
                      <input
                        class="w-[37px] xl:w-[47px] h-[46px] aspect-square text-center"
                        type="number"
                        name="quantity"
                        data-quantity-input
                        value="1"
                        max="5"
                        min="1"
                      >
                      <button type="button" class="{{ buttons_classes }}" data-increment>+</button>
                    </div>
                  </custom-input-number>
                {% endunless %}
              </div>

              {% comment %}
                Submit btn
              {% endcomment %}
              <div class="flex-[2] overflow-hidden">
                <button
                  data-addcart
                  id="ProductSubmitButton-{{ section_id }}"
                  type="submit"
                  name="add"
                  class="product-form__submit button btn-primary button--full-width btn-large uppercase relative overflow-hidden btn-hover-animated-primary max-md:!max-w-[unset] 2xl:!max-w-[unset]"
                  {% if current_variant.available == false or quantity_rule_soldout %}
                    disabled
                  {% endif %}
                >
                  <span class="truncate leading-none">
                    {%- if current_variant.available == false or quantity_rule_soldout -%}
                      {{ 'products.product.sold_out' | t }}
                    {%- elsif allow_pre_order == true -%}
                      Pre Order
                    {% else %}
                      {{ 'products.product.add_to_cart' | t }}
                    {%- endif -%}
                  </span>

                  <span>&nbsp;&nbsp;</span>

                  {% render 'bundle-builder-page-price',
                    totalCompare: totalCompare,
                    totalPrice: totalPrice,
                    onlyNumbers: true
                  %}

                  <div class="loading-overlay__spinner hidden absolute top-1/2 right-3 -translate-y-1/2">
                    <svg
                      aria-hidden="true"
                      focusable="false"
                      class="spinner"
                      viewBox="0 0 66 66"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <circle class="path !stroke-current" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                    </svg>
                  </div>
                </button>
              </div>

              {% comment %}
                Wishlist btn
              {% endcomment %}
              <button
                type="button"
                aria-label="Add to wishlist"
                button-wishlist
                data-product-handle="{{ product.handle }}"
                class="
                  btn-large btn-secondary [&_path]:!stroke-current [&.active_path]:!fill-current
                  aspect-square max-lg:hidden shrink-0 grow-0 w-12 relative btn-hover-animated btn-hover-animated-secondary
                "
              >
                <span class="w-[16px] lg:w-6 block">{% render 'icon-heart' %}</span>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="space-y-6 product-info-accordions">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when '@app' -%}
              {% render block %}
            {%- when 'text' -%}
              <p
                class="product__text inline-richtext{% if block.settings.text_style == 'uppercase' %} caption-with-letter-spacing{% elsif block.settings.text_style == 'subtitle' %} subtitle{% endif %}"
                {{ block.shopify_attributes }}
              >
                {{- block.settings.text -}}
              </p>

            {%- when 'quantity_selector' -%}
              <div
                id="Quantity-Form-{{ section.id }}"
                class="product-form__input product-form__quantity{% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_vertical_offset < 0 %} product-form__quantity-top{% endif %}"
                {{ block.shopify_attributes }}
              >
                {% comment %} TODO: enable theme-check once `item_count_for_variant` is accepted as valid filter {% endcomment %}
                {% # theme-check-disable %}
                {%- assign cart_qty = cart | item_count_for_variant: product.selected_or_first_available_variant.id -%}
                {% # theme-check-enable %}
                <label class="quantity__label form__label" for="Quantity-{{ section.id }}">
                  {{ 'products.product.quantity.label' | t }}
                  <span class="quantity__rules-cart no-js-hidden{% if cart_qty == 0 %} hidden{% endif %}">
                    <span class="loading-overlay hidden">
                      <span class="loading-overlay__spinner">
                        <svg
                          aria-hidden="true"
                          focusable="false"
                          class="spinner"
                          viewBox="0 0 66 66"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                        </svg>
                      </span>
                    </span>
                    <span
                      >(
                      {{- 'products.product.quantity.in_cart_html' | t: quantity: cart_qty -}}
                      )</span
                    >
                  </span>
                </label>
                <quantity-input class="quantity">
                  <button class="quantity__button no-js-hidden" name="minus" type="button">
                    <span class="visually-hidden">
                      {{- 'products.product.quantity.decrease' | t: product: product.title | escape -}}
                    </span>
                    {% render 'icon-minus' %}
                  </button>
                  <input
                    class="quantity__input"
                    type="number"
                    name="quantity"
                    id="Quantity-{{ section.id }}"
                    data-cart-quantity="{{ cart_qty }}"
                    data-min="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                    min="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                    {% if product.selected_or_first_available_variant.quantity_rule.max != null %}
                      data-max="{{ product.selected_or_first_available_variant.quantity_rule.max }}"
                      max="{{ product.selected_or_first_available_variant.quantity_rule.max }}"
                    {% endif %}
                    step="{{ product.selected_or_first_available_variant.quantity_rule.increment }}"
                    value="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                    form="{{ product_form_id }}"
                  >
                  <button class="quantity__button no-js-hidden" name="plus" type="button">
                    <span class="visually-hidden">
                      {{- 'products.product.quantity.increase' | t: product: product.title | escape -}}
                    </span>
                    {% render 'icon-plus' %}
                  </button>
                </quantity-input>
                <div class="quantity__rules caption no-js-hidden">
                  {%- if product.selected_or_first_available_variant.quantity_rule.increment > 1 -%}
                    <span class="divider">
                      {{-
                        'products.product.quantity.multiples_of'
                        | t: quantity: product.selected_or_first_available_variant.quantity_rule.increment
                      -}}
                    </span>
                  {%- endif -%}
                  {%- if product.selected_or_first_available_variant.quantity_rule.min > 1 -%}
                    <span class="divider">
                      {{-
                        'products.product.quantity.minimum_of'
                        | t: quantity: product.selected_or_first_available_variant.quantity_rule.min
                      -}}
                    </span>
                  {%- endif -%}
                  {%- if product.selected_or_first_available_variant.quantity_rule.max != null -%}
                    <span class="divider">
                      {{-
                        'products.product.quantity.maximum_of'
                        | t: quantity: product.selected_or_first_available_variant.quantity_rule.max
                      -}}
                    </span>
                  {%- endif -%}
                </div>
              </div>
            {%- when 'popup' -%}
              <modal-opener
                class="product-popup-modal__opener no-js-hidden quick-add-hidden"
                data-modal="#PopupModal-{{ block.id }}"
                {{ block.shopify_attributes }}
              >
                <button
                  id="ProductPopup-{{ block.id }}"
                  class="product-popup-modal__button link"
                  type="button"
                  aria-haspopup="dialog"
                >
                  {{ block.settings.text | default: block.settings.page.title }}
                </button>
              </modal-opener>
              <a href="{{ block.settings.page.url }}" class="product-popup-modal__button link no-js">
                {{- block.settings.text -}}
              </a>
            {%- when 'share' -%}
              {% assign share_url = product.selected_variant.url | default: product.url | prepend: request.origin %}
              {% render 'share-button', block: block, share_link: share_url %}

            {%- when 'rating' -%}
              {%- if product.metafields.reviews.rating.value != blank -%}
                {% liquid
                  assign rating_decimal = 0
                  assign decimal = product.metafields.reviews.rating.value.rating | modulo: 1
                  if decimal >= 0.3 and decimal <= 0.7
                    assign rating_decimal = 0.5
                  elsif decimal > 0.7
                    assign rating_decimal = 1
                  endif
                %}
                <div
                  class="rating"
                  role="img"
                  aria-label="{{ 'accessibility.star_reviews_info' | t: rating_value: product.metafields.reviews.rating.value, rating_max: product.metafields.reviews.rating.value.scale_max }}"
                >
                  <span
                    aria-hidden="true"
                    class="rating-star"
                    style="--rating: {{ product.metafields.reviews.rating.value.rating | floor }}; --rating-max: {{ product.metafields.reviews.rating.value.scale_max }}; --rating-decimal: {{ rating_decimal }};"
                  ></span>
                </div>
                <p class="rating-text caption">
                  <span aria-hidden="true">
                    {{- product.metafields.reviews.rating.value }} /
                    {{ product.metafields.reviews.rating.value.scale_max -}}
                  </span>
                </p>
                <p class="rating-count caption">
                  <span aria-hidden="true">({{ product.metafields.reviews.rating_count }})</span>
                  <span class="visually-hidden">
                    {{- product.metafields.reviews.rating_count }}
                    {{ 'accessibility.total_reviews' | t -}}
                  </span>
                </p>
              {%- endif -%}

            {%- when 'icon-with-text' -%}
              {% render 'icon-with-text', block: block %}
            {%- when 'accordion' %}
              <div
                class="!my-0 py-5 lg:py-7 border-b border-blue-1/10 group/acc"
                {{ block.shopify_attributes }}
              >
                <h4
                  data-acc
                  class="font-semibold m-body-copy lg:d-h5 space-x-6 flex w-full items-center cursor-pointer"
                >
                  <span class="mr-auto">{{ block.settings.title }}</span>
                  <span
                    class="acc-toggle"
                  ></span>
                </h4>
                <div class="gap-3 flex-wrap pt-5 lg:pt-7 clear-left hidden group-[.open]/acc:!flex group-[.open]/acc:opacity-100 opacity-0 transition-opacity delay-[0.5s]">
                  <div class="wysiwyg flex-1">
                    {{ block.settings.content }}
                    {{ block.settings.html }}

                    {% if block.settings.button_link and block.settings.button_label %}
                      <div>
                        <a class="btn-tertiary" href="{{ block.settings.button_link }}">
                          {{- block.settings.button_label -}}
                        </a>
                      </div>
                    {% endif %}
                  </div>
                </div>
              </div>
          {%- endcase -%}
        {%- endfor -%}

        {% comment %}
          Description
        {% endcomment %}
        {% if product.description != blank %}
          <div
            id="Description"
            class="product-expanded !my-0 mt-6 border-b border-blue-1/10 group/acc open scroll-mt-[--header-height-lg,100]"
          >
            <h4
              data-acc
              class="font-semibold text-base m-body-copy py-6 space-x-6 flex w-full items-center cursor-pointer"
            >
              <span class="mr-auto">Description</span>
              <span
                class="acc-toggle w-3.5 h-3.5"
              ></span>
            </h4>
            <div class="gap-3 flex-wrap pb-6 md:pb-4 clear-left hidden group-[.open]/acc:!flex group-[.open]/acc:opacity-100 opacity-0 transition-opacity delay-[0.5s]">
              <div class="flex-1 text-sm space-y-3.5 font-normal">
                {{ product.description }}
              </div>
            </div>
          </div>
        {% endif %}
        {% comment %}
          END Description
        {% endcomment %}

        {% comment %}
          Specification
        {% endcomment %}
        {% if product.metafields.christy23.product_specification != blank %}
          <div
            class="product-expanded !my-0 border-b border-blue-1/10 group/acc"
          >
            <h4
              data-acc
              class="font-semibold text-base m-body-copy py-6 space-x-6 flex w-full items-center cursor-pointer"
            >
              <span class="mr-auto">Specifications</span>
              <span
                class="acc-toggle w-3.5 h-3.5"
              ></span>
            </h4>
            <div class="gap-3 flex-wrap pb-6 md:pb-4 clear-left hidden group-[.open]/acc:!flex group-[.open]/acc:opacity-100 opacity-0 transition-opacity delay-[0.5s]">
              <div class="flex-1 text-sm space-y-3.5 font-normal">
                {{ product.metafields.christy23.product_specification | metafield_tag }}
              </div>
            </div>
          </div>
        {% endif %}
        {% comment %}
          END Specification
        {% endcomment %}

        {% comment %}
          Care Guide
        {% endcomment %}
        {% if product.metafields.christy23.care_guide != blank %}
          <div
            class="product-expanded !my-0 border-b border-blue-1/10 group/acc"
          >
            <h4
              data-acc
              class="font-semibold text-base py-6 m-body-copy space-x-6 flex w-full items-center cursor-pointer"
            >
              <span class="mr-auto">Care Guide</span>
              <span
                class="acc-toggle w-3.5 h-3.5"
              ></span>
            </h4>
            <div class="gap-3 flex-wrap pb-6 md:pb-4 clear-left hidden group-[.open]/acc:!flex group-[.open]/acc:opacity-100 opacity-0 transition-opacity delay-[0.5s]">
              <div class="flex-1 text-sm space-y-3.5 font-normal">
                {{ product.metafields.christy23.care_guide | metafield_tag }}
              </div>
            </div>
          </div>
        {% endif %}
        {% comment %}
          END Care Guide
        {% endcomment %}

        {% comment %}
          Delivery & Returns
        {% endcomment %}
        {% if settings.product_delivery_returns != blank or product.metafields.custom.delivery_returns != blank %}
          <div
            id="DeliveryReturns"
            class="product-expanded !my-0 border-b border-blue-1/10 group/acc scroll-mt-[--header-height-lg,100]"
          >
            <h4
              data-acc
              class="font-semibold text-base m-body-copy py-6 space-x-6 flex w-full items-center cursor-pointer"
            >
              <span class="mr-auto">Delivery & Returns</span>
              <span
                class="acc-toggle w-3.5 h-3.5"
              ></span>
            </h4>
            <div class="gap-3 flex-wrap pb-6 md:pb-4 clear-left hidden group-[.open]/acc:!flex group-[.open]/acc:opacity-100 opacity-0 transition-opacity delay-[0.5s]">
              <div class="flex-1 text-sm space-y-3.5 font-normal">
                {% if product.metafields.custom.delivery_returns != blank %}
                  {{ product.metafields.custom.delivery_returns }}
                {% else %}
                  {{ settings.product_delivery_returns }}
                {% endif %}
              </div>
            </div>
          </div>
        {% endif %}
        {% comment %}
          END Delivery & Returns
        {% endcomment %}
      </div>
    </product-info>

    {% render 'sticky-bar',
      block: block,
      is_product_bundle: true,
      totalCompare: totalCompare,
      totalPrice: totalPrice,
      product: product,
      current_variant: current_variant,
      variant_images: variant_images,
      product_form_id: product_form_id,
      section_id: section.id,
      show_pickup_availability: true
    %}
  </div>

  {% if product.metafields.custom.size_guide != blank or product.metafields.custom.product_specification != blank %}
    <aside
      data-modal="sizeguide"
      class="modal fixed inset-0 bg-white pt-[var(--header-height)] lg:pt-[var(--header-height-lg)] !m-0 z-50 opacity-0 invisible transition-[opacity,visibility] duration-500 [&.active]:opacity-100 [&.active]:visible"
    >
      <div
        class="container relative space-y-10 h-full flex flex-col after:w-[40px] after:h-full after:bg-gradient-to-l after:to-transparent after:from-white after:absolute after:right-0 after:top-0"
        data-sizeguide
        id="sizeguide"
      >
        <h4
          data-acc
          class="m-h1 lg:s-d-h4"
        >
          <span>Size Guide</span>
        </h4>

        <div class="max-lg:-mr-[40px] h-full overflow-auto pb-20 pr-[40px] whitespace-nowrap wysiwyg [&_table]:bg-white text-[14px]">
          {% if product.metafields.custom.size_guide != blank %}
            {{ product.metafields.custom.size_guide }}
          {% elsif product.metafields.custom.product_specification != blank %}
            {{ product.metafields.custom.product_specification }}
          {% endif %}
        </div>
      </div>

      <div class="absolute top-0 right-0 container flex justify-end !m-0 min-h-[var(--header-height)] lg:min-h-[var(--header-height-lg)] items-center">
        <button data-modalclose="sizeguide" class="p-5 -mr-5">{% render 'icon-close' %}</button>
      </div>
    </aside>
  {% endif %}
</div>

<script src="{{ 'BundleItemCard.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'bundle-app.js' | asset_url }}" defer></script>
