{% comment %}
  Renders product buy-buttons.
  Accepts:
  - product: {Object} product object.
  - block: {Object} passing the block information.
  - product_form_id: {String} product form id.
  - section_id: {String} id of section to which this snippet belongs.
  - show_pickup_availability: {Boolean} for the pickup availability. If true the pickup availability is rendered, false - not rendered (optional).

  Usage:
  {% render 'buy-buttons', block: block, product: product, product_form_id: product_form_id, section_id: section.id, show_pickup_availability: true %}
{% endcomment %}
<div {{ block.shopify_attributes }}>
  {%- if product != blank -%}
    {%- liquid
      assign gift_card_recipient_feature_active = false
      if block.settings.show_gift_card_recipient and product.gift_card?
        assign gift_card_recipient_feature_active = true
      endif

      assign show_dynamic_checkout = false
      if block.settings.show_dynamic_checkout and gift_card_recipient_feature_active == false
        assign show_dynamic_checkout = true
      endif
    -%}

    <product-form data-main-product-form class="product-form" data-hide-errors="{{ gift_card_recipient_feature_active }}">
      <div class="product-form__error-message-wrapper flex items-center gap-2 mt-2" role="alert" hidden>
        <svg
          aria-hidden="true"
          focusable="false"
          class="icon icon-error w-[20px]"
          viewBox="0 0 13 13"
        >
          <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
          <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
          <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
          <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
        </svg>
        <span class="product-form__error-message"></span>
      </div>

      {%- form 'product',
        product,
        id: product_form_id,
        class: 'form',
        novalidate: 'novalidate',
        data-type: 'add-to-cart-form'
      -%}
        <input
          type="hidden"
          name="id"
          value="{{ current_variant.id }}"
          disabled
          class="product-variant-id"
        >

        {% comment %} {%- if product.gift_card? -%}
          {%- render 'gift-card-recipient-form',
            product: product,
            form: form,
            section: section,
            block: block,
            current_variant: current_variant,
            variant_images: variant_images,
            product_form_id: product_form_id,
            section_id: section.id,
            show_pickup_availability: true -%}
        {%- endif -%} {% endcomment %}

        <div id="add-dynamic-props"></div>

        <a href="{{ product.url }}"
           class="btn-product-full-details font-normal hidden btn-secondary btn-secondary-mob-default btn-hover-animated btn-hover-animated-secondary h-10
           w-full !mt-2 uppercase justify-center items-center relative">
          View full details
        </a>

        <div class="product-form__buttons flex flex-col">
          {%- liquid
            assign check_against_inventory = true
            assign allow_pre_order = false
            if current_variant.inventory_management != 'shopify' or current_variant.inventory_policy == 'continue'
              assign check_against_inventory = false
            endif
            if current_variant.quantity_rule.min > current_variant.inventory_quantity and check_against_inventory
              assign quantity_rule_soldout = true
            endif
            if current_variant.metafields.custom.pre_order_qunatity > 0
              assign quantity_rule_soldout = false
              assign allow_pre_order = true
            endif
          -%}
          {% if allow_pre_order == true %}
            <input
              type="hidden"
              name="properties[Note]"
              value="{{ settings.cart_pre_order_text }}"
              id="note"
            >
          {% endif %}

          {% assign gift_box_product = product.metafields.custom.gift_box_product.value %}

          {% assign aplus_variants = current_variant.metafields.custom.a_plus_variants.value %}
          {% assign show_a_plus = true %}
          {% assign value = '' %}
          {% assign aplus_price = 0 %}
          {% for vars in aplus_variants %}
            {% assign v_price = 0 %}
            {% if vars.variant.value.inventory_quantity > 0 and vars.variant.value.inventory_quantity < vars.quantity %}
              {% assign show_a_plus = false %}
              {% break %}
            {% endif %}
            {% assign v_price = vars.variant.value.price | times: vars.quantity %}
            {% assign aplus_price = aplus_price | plus: v_price %}
            {% assign value = value
              | append: vars.variant.value.id
              | append: '-'
              | append: vars.variant.value.product.id
              | append: '-'
              | append: vars.quantity
              | append: ','
            %}
          {% endfor %}

          <div id="aplusproducts" class="hidden [&:not(:empty)]:flex flex-row items-center justify-start gap-2">
            {%- if current_variant.metafields.custom.a_plus_display_text != blank and show_a_plus == true -%}
              <input
                  name="aplusproducts"
                  hidden
                  type="checkbox"
                  data-aplus-variant-id="{{ value | split: '-' | first }}"
                  onchange="updateFakeCheckbox(this)"
                  value="{{ value }}"
                  price="{{ aplus_price }}"
                  id="aplusproducts-cb"
              >
            {%- endif -%}
          </div>

          <div class="flex gap-2 items-end product-cta-buttons-row {% if product.gift_card? %} !gap-0 {% endif %}">
            <p class="font-semibold lg:d-h5 hidden">{{ product.title }}</p>

            {% comment %}
              Quantity selector
            {% endcomment %}
            <div class="shrink-0">
              {% unless product.tags contains 'hide-quantity' %}
                <custom-input-number data-sync-input-selector="[data-quantity-input]">
                  <div class="flex items-center justify-between border border-secondary-blue-50 text-sm leading-normal uppercase h-[48px]">
                    {% assign buttons_classes = 'hover:cursor-pointer w-[37px] h-[47px] xl:w-[47px] flex items-center justify-center select-none disabled:text-secondary-blue-100' %}
                    <button type="button" class="{{ buttons_classes }}" data-decrement>—</button>
                    <input
                      class="w-[37px] xl:w-[47px] h-[46px] aspect-square text-center"
                      type="number"
                      name="quantity"
                      data-quantity-input
                      value="1"
                      max="5"
                      min="1"
                    >
                    <button type="button" class="{{ buttons_classes }}" data-increment>+</button>
                  </div>
                </custom-input-number>
              {% endunless %}
            </div>

            {% comment %}
              Submit btn
            {% endcomment %}
            <div class="flex-[2] overflow-hidden">
              <button
                id="ProductSubmitButton-{{ section_id }}"
                type="submit"
                name="add"
                class="product-form__submit button button--full-width btn-large uppercase relative overflow-hidden btn-primary btn-hover-animated-primary max-md:!max-w-[unset] 2xl:!max-w-[unset] {% if product.gift_card? %} !max-w-[unset] {% endif %}"
                {% if current_variant.available == false or quantity_rule_soldout %}
                  disabled
                {% endif %}
              >
                <span class="truncate font-normal">
                  {%- if current_variant.available == false or quantity_rule_soldout -%}
                    {{ 'products.product.sold_out' | t }}
                  {%- elsif allow_pre_order == true -%}
                    Pre Order
                  {% else %}
                    {{ 'products.product.add_to_cart' | t }}
                  {%- endif -%}
                </span>

                <span>&nbsp;&nbsp;</span>
                <div
                  class="no-js-hidden font-semibold flex items-center gap-1"
                  id="price-{{ section.id }}"
                  data-price="price-{{ section.id }}"
                  role="status"
                  {{ block.shopify_attributes }}
                >
                  {%- render 'price-small', product: product, use_variant: true, current_variant: current_variant -%}
                  <div data-price-value="aplus_cart_price" id="aplus_cart_price" class="hidden">
                    {{ aplus_price | plus: current_variant.price | money }}
                  </div>

                  {% if gift_box_product != blank %}
                    {% assign gift_box_variant = gift_box_product.variants | first %}
                    <div data-price-value="giftBoxCartPrice" id="giftBoxCartPrice" class="hidden">
                      {{ gift_box_variant.price | plus: current_variant.price | money }}
                    </div>
                    <div data-price-value="aplusGiftBoxCartPrice" id="aplusGiftBoxCartPrice" class="hidden">
                      {{ gift_box_variant.price | plus: aplus_price | plus: current_variant.price | money }}
                    </div>
                  {% endif %}
                </div>

                <div class="loading-overlay__spinner hidden g absolute top-1/2 right-3 -translate-y-1/2">
                  <svg
                    aria-hidden="true"
                    focusable="false"
                    class="spinner"
                    viewBox="0 0 66 66"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <circle class="path !stroke-current" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                  </svg>
                </div>
              </button>
            </div>

            {% comment %}
              Wishlist btn
            {% endcomment %}
            <button
              type="button"
              aria-label="Add to wishlist"
              button-wishlist
              data-product-handle="{{ product.handle }}"
              class="
                btn-large btn-secondary 
                [&_path]:fill-white [&.active_path]:!fill-current max-xl:bg-white max-xl:[&.active_path]:!fill-primary-blue
                aspect-square max-lg:hidden shrink-0 grow-0 w-12 relative btn-hover-animated btn-hover-animated-secondary
                {% if product.gift_card? %} ml-2.5 {% endif %}
              "
            >
              <span class="w-[16px] lg:w-6 block">{% render 'icon-heart' %}</span>
            </button>
          </div>

          {%- if show_dynamic_checkout -%}
            {{ form | payment_button }}
          {%- endif -%}
        </div>
      {%- endform -%}
    </product-form>
  {%- else -%}
    <div class="product-form">
      <div class="product-form__buttons form">
        <button
          type="submit"
          name="add"
          class="product-form__submit button button--full-width button--primary"
          disabled
        >
          {{ 'products.product.sold_out' | t }}
        </button>
      </div>
    </div>
  {%- endif -%}
  {% if allow_pre_order == true %}
    <span id="preorder_text">{{ settings.product_pre_order_text }}</span>
  {% endif %}
  {%- if show_pickup_availability -%}
    {{ 'component-pickup-availability.css' | asset_url | stylesheet_tag }}

    {%- assign pick_up_availabilities = current_variant.store_availabilities | where: 'pick_up_enabled', true -%}

    <pickup-availability
      class="product__pickup-availabilities no-js-hidden quick-add-hidden"
      {% if current_variant.available and pick_up_availabilities.size > 0 %}
        available
      {% endif %}
      data-root-url="{{ routes.root_url }}"
      data-variant-id="{{ current_variant.id }}"
      data-has-only-default-variant="{{ product.has_only_default_variant }}"
    >
      <template>
        <pickup-availability-preview class="pickup-availability-preview">
          {% render 'icon-unavailable' %}
          <div class="pickup-availability-info">
            <p class="caption-large">{{ 'products.product.pickup_availability.unavailable' | t }}</p>
            <button class="pickup-availability-button link link--text underlined-link">
              {{ 'products.product.pickup_availability.refresh' | t }}
            </button>
          </div>
        </pickup-availability-preview>
      </template>
    </pickup-availability>

    <script src="{{ 'pickup-availability.js' | asset_url }}" defer="defer"></script>
  {%- endif -%}
</div>
