{% comment %}
  Renders facets (filtering and sorting)

  Accepts:
  - results: {Object} Collection or Search object
  - enable_filtering: {Boolean} Show filtering when true
  - enable_sorting: {Boolean} Show sorting when true
  - filter_type: {String} Type of filter
  - paginate: {Object}

  Usage:
  {% render 'facets', results: collection, enable_filtering: true, enable_sorting: true, filter_type: 'vertical', paginate: paginate %}
{% endcomment %}

<style>
  .price-range-container {
    margin: 16px 0;
  }
  .price-range-slider {
    position: relative;
    width: 100%;
    height: 1px;
    background-color: #e5e7eb;
  }

  .range-thumb {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    width: 100%;
    height: 10px;
    margin: 0;
    background: none;
    pointer-events: none;
  }

  .range-thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    transform: translateY(-5px);
    background: #1c355e;
    border-radius: 50%;
    pointer-events: all;
    cursor: pointer;
  }

  .range-thumb::-moz-range-thumb {
    width: 16px;
    height: 16px;
    transform: translateY(-5px);
    background: #1c355e;
    border-radius: 50%;
    pointer-events: all;
    cursor: pointer;
  }

  .flex.items-center.gap-3.mt-4 {
    display: flex;
    flex-direction: row;
    margin-top: 33px;
    gap: 8px;
  }

  .price-range-track {
    position: absolute;
    height: 1px;
    background-color: #1c355e;
  }

  .main-price-min-input:focus::placeholder,
  .main-price-max-input:focus::placeholder {
    opacity: 0;
  }
</style>

{{ 'component-show-more.css' | asset_url | stylesheet_tag }}

{%- assign color_map = '' -%}
{%- if settings.color_swatches != blank -%}
  {%- assign swatch_colors = settings.color_swatches | newline_to_br | split: '<br />' -%}
  {%- for color in swatch_colors -%}
    {%- unless color == blank -%}
      {%- assign parts = color | split: ':' -%}
      {%- assign key = parts.first | handleize -%}
      {%- assign value = parts.last | strip -%}
      {%- assign color_map = color_map | append: key | append: ':' | append: value | append: ',' -%}
    {%- endunless -%}
  {%- endfor -%}
{%- endif -%}
{%- assign color_pairs = color_map | split: ',' -%}

{%- liquid
  assign sort_by = results.sort_by | default: results.default_sort_by
  assign total_active_values = 0
  if results.url
    assign results_url = results.url
  else
    assign terms = results.terms | escape
    assign results_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
  endif
-%}

<menu-drawer>
  <details class="mobile-facets__disclosure disclosure-has-popup group/drawer [&.menu-opening_.close-icon]:!block">
    <summary class="block">
      <span class="mobile-facets__open flex justify-between items-center relative max-mob:w-[145px] w-[175px] h-[48px] py-2 px-4 border border-secondary-blue-50 cursor-pointer">
        <div class="product-count [&.loading>div]:!block absolute right-full mr-5" role="status">
          <div class="loading-overlay__spinner hidden">
            <svg
              aria-hidden="true"
              focusable="false"
              class="spinner"
              viewBox="0 0 66 66"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle class="path !stroke-current" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
            </svg>
          </div>
        </div>
        <div class="flex items-center">
          <span>{%- render 'icon-filter-plp' -%}</span>
          <span class="text-[11px] leading-4 font-sans font-semibold ml-3">Filter</span>
        </div>
        <div class="w-[32px] max-mob:w-full max-mob:ml-3">
          {%- assign total_active_filters = 0 -%}
          {%- for filter in results.filters -%}
            {%- if filter.type == 'price_range' -%}
              {%- if filter.min_value.value != null or filter.max_value.value != null -%}
                {%- assign total_active_filters = total_active_filters | plus: 1 -%}
              {%- endif -%}
            {%- else -%}
              {%- assign total_active_filters = total_active_filters | plus: filter.active_values.size -%}
            {%- endif -%}
          {%- endfor -%}
          {%- if total_active_filters > 0 -%}
            <span class="total-active-filters w-6 h-6 flex items-center justify-center bg-primary-blue rounded-full text-[8px] font-semibold text-primary-white-cotton">
              {{ total_active_filters }}
            </span>
          {%- endif -%}
        </div>
      </span>
      <span
        tabindex="0"
        class="fixed cursor-pointer top-7 right-7 z-[2147483605] w-[12px] h-[12px] lg:w-[16px] lg:h-[16px] hidden close-icon"
      >
        {%- render 'icon-close' -%}
      </span>
    </summary>
    <facet-filters-form>
      <form
        id="FacetFiltersFormMobile"
        class="mobile-facets fixed inset-0 z-[2147483603] bg-black/50 flex justify-end transition-opacity opacity-0 group-[.menu-opening]/drawer:opacity-100"
      >
        <div class="mobile-facets__inner gradient h-full flex flex-col bg-white w-full md:max-w-[390px] duration-500 transition-transform translate-x-full group-[.menu-opening]/drawer:translate-x-0">
          <div class="mobile-facets__header pt-6 pb-6 px-4">
            <div class="flex items-end space-x-5">
              <h2 class="text-base font-semibold mx-auto">Filter</h2>
            </div>
          </div>
          <div class="mobile-facets__main has-submenu gradient flex-1 overflow-auto overscroll-none px-4 [&_>*:last-child]:!pb-0">
            {%- for filter in results.filters -%}
              {% if filter.param_name != 'filter.p.tag' and filter.param_name != 'filter.p.product_type' %}
                {% case filter.type %}
                  {% when 'boolean', 'list' %}
                    {%- unless filter.label == 'Size' -%}
                      <details
                        id="Details-Mobile-{{ forloop.index }}-{{ section.id }}"
                        class="!my-0 py-6 group js-filter "
                        data-index="mobile-{{ forloop.index }}"
                        data-filter-label="{{ filter.label | escape }}"
                      >
                        <summary class="font-semibold m-body-copy lg:d-h5 space-x-6 flex w-full items-center cursor-pointer">
                          <div class="mr-auto">
                            <span>{{ filter.label | escape }}</span>
                          </div>
                          <span class="selected-filter-value text-primary-blue text-[11px] font-semibold tracking-[.5px]  truncate">
                            {% assign selected_values = filter.values | where: 'active', true %}
                            {% if selected_values.size > 0 %}
                              {{ selected_values | map: 'label' | join: ', ' }}
                            {% endif %}
                          </span>
                          <span class="w-6 h-6 transition-transform duration-300 ease-in-out group-open:rotate-90">
                            {%- render 'icon-arrow' -%}
                          </span>
                        </summary>
                        <div
                          id="FacetMobile-{{ forloop.index }}-{{ section.id }}"
                          class="pt-5 lg:pt-7 {% if filter.label == 'Size' %}filter-size{% endif %}"
                        >
                          <ul
                            class="space-y-3 {% if filter.label == 'Size' %}grid grid-cols-[1fr_1fr] border-t border-secondary-blue-50 mx-[-16px] {% endif %}"
                            role="list"
                          >
                            {%- for value in filter.values -%}
                              <li class="mobile-facets__item list-menu__item  border-b border-secondary-blue-50 !my-0 {% if filter.label == 'Size' %}relative border-x{% else %}py-6{% endif %}">
                                <label
                                  for="Filter-{{ filter.param_name | escape }}-mobile-{{ forloop.index }}"
                                  class="gap-2 {% if filter.label == 'Size' %}h-12 flex justify-center items-center px-1{% else %}grid grid-cols-[24px_1fr_24px]{% endif %} items-center mobile-facets__label{% if value.count == 0 and value.active == false %} mobile-facets__label--disabled{% endif %}"
                                >
                                  <input
                                    class="mobile-facets__checkbox filter-option {% if filter.label == 'Size' %}filter-size-option{% endif %} absolute invisible peer "
                                    type="checkbox"
                                    name="{{ value.param_name }}"
                                    value="{{ value.value }}"
                                    id="Filter-{{ filter.param_name | escape }}-mobile-{{ forloop.index }}"
                                    {% if value.active %}
                                      checked
                                    {% endif %}
                                    {% if value.count == 0 and value.active == false %}
                                      disabled
                                    {% endif %}
                                  >
                                  <span class="fake-radio w-6 h-6 {% if filter.label == 'Size' %}{% else %}bg-[#CCD0DE] overflow-hidden rounded-sm{% endif %}"
                                    ><span></span
                                  ></span>
                                  <span
                                    class="text-sm font-normal text-primary-blue {% if filter.label == 'Size' %}text-center{% endif %}"
                                    aria-hidden="true"
                                  >
                                    {{- value.label | escape -}}
                                  </span>
                                  <span class="visually-hidden">
                                    {{- value.label | escape }} (
                                    {%- if value.count == '1' -%}
                                      {{- 'products.facets.product_count_simple.one' | t: count: value.count -}}
                                    {%- else -%}
                                      {{- 'products.facets.product_count_simple.other' | t: count: value.count -}}
                                    {%- endif -%}
                                    )</span
                                  >

                                  {% if filter.label == 'Colour' %}
                                    {%- assign current_color_name = value.label | handleize -%}
                                    {%- assign matched_color_hex = '' -%}

                                    {%- for pair in color_pairs -%}
                                      {%- assign pair_key = pair | split: ':' | first -%}
                                      {%- assign pair_value = pair | split: ':' | last -%}
                                      {%- if pair_key == current_color_name -%}
                                        {%- assign matched_color_hex = pair_value -%}
                                        {%- break -%}
                                      {%- endif -%}
                                    {%- endfor -%}

                                    {%- if matched_color_hex != '' -%}
                                      <div
                                        class="w-6 h-6 rounded-full shadow-[0px_0px_9px_-5px_rgba(0,0,0,1)]"
                                        style="
                                          display:inline-block;
                                          {%- if matched_color_hex contains '.jpg' or matched_color_hex contains '.png' -%}
                                            background-image:url('{{ matched_color_hex | asset_url }}');
                                            background-size:cover;
                                          {%- else -%}
                                            background-color:{{ matched_color_hex }};
                                          {%- endif -%}
                                        "
                                      ></div>
                                    {%- else -%}
                                      <span class="w-6 h-6 bg-grey-1 rounded-full shadow-[0px_0px_9px_-5px_rgba(0,0,0,1)]">
                                        <span></span>
                                      </span>
                                    {%- endif -%}
                                  {% endif %}
                                </label>
                              </li>
                            {%- endfor -%}
                          </ul>
                        </div>
                      </details>
                    {%- endunless -%}
                  {% when 'price_range' %}
                    <details
                      id="Details-Mobile-{{ forloop.index }}-{{ section.id }}"
                      class="!my-0 py-6 group js-filter"
                      data-index="mobile-{{ forloop.index }}"
                    >
                      <summary class="font-semibold m-body-copy lg:d-h5 space-x-6 flex w-full items-center cursor-pointer">
                        <div class="mr-auto">
                          <span>{{ filter.label | escape }}</span>
                        </div>
                        {%- for filter in results.filters -%}
                          {%- if filter.type == 'price_range' -%}
                            {%- if filter.min_value.value != null or filter.max_value.value != null -%}
                              {%- assign has_active_filters = true -%}
                              <span class="selected-filter-value text-primary-blue text-[11px] font-semibold tracking-[.5px]  truncate">
                                {%- assign min_value = filter.min_value.value | default: 0 -%}
                                {%- assign max_value = filter.max_value.value | default: filter.range_max -%}
                                {{ min_value | money }} - {{ max_value | money }}
                              </span>
                            {%- endif -%}
                          {%- endif -%}
                        {%- endfor -%}
                        <span class="w-6 h-6 transition-transform duration-300 ease-in-out group-open:rotate-90">
                          {%- render 'icon-arrow' -%}
                        </span>
                      </summary>
                      <div
                        id="FacetMobile-{{ forloop.index }}-{{ section.id }}"
                        class="pt-5 lg:pt-7 space-y-5"
                      >
                        <div class="price-range-container">
                          <div class="price-range-slider relative w-full h-1 bg-gray-300 rounded">
                            <div
                              id="price-range-track"
                              class="price-range-track absolute h-1 bg-blue-600 rounded"
                            ></div>
                            {% assign max_price = filter.range_max
                              | money_without_currency
                              | replace: ',', ''
                              | floor
                            %}
                            <input
                              type="range"
                              id="min-range"
                              class="range-thumb price-range-min "
                              min="0"
                              max="{{ max_price }}"
                              step="1"
                              value="0"
                            >
                            <input
                              type="range"
                              id="max-range"
                              class="range-thumb price-range-max "
                              min="0"
                              max="{{ max_price }}"
                              step="1"
                              value="{{ max_price }}"
                            >
                          </div>

                          <input
                            type="number"
                            id="price-min-input"
                            class="price-input price-min-input hidden"
                            value="0"
                            min="0"
                            max="{{ max_price }}"
                          >

                          <input
                            type="number"
                            id="price-max-input"
                            class="price-input price-max-input hidden"
                            value="{{ max_price }}"
                            min="0"
                            max="{{ max_price }}"
                          >
                        </div>

                        <div class="flex justify-between">
                          <span>{{ cart.currency.symbol }}0</span>
                          <span>
                            {{- cart.currency.symbol -}}
                            {{- filter.range_max | money_without_currency | replace: ',', '' | floor -}}
                          </span>
                        </div>

                        {%- assign max_price_amount = filter.range_max | money | strip_html | escape -%}

                        <price-range class="facets__price grid grid-cols-[1fr_auto_1fr] items-center gap-2">
                          <div class="flex items-center gap-1 border border-secondary-blue-50">
                            <div class="field relative w-full">
                              <input
                                class="main-price-min-input w-full h-[65px] pt-[34px] pb-2 px-4 !font-semibold appearance-none rounded-none outline-none focus:outline-none  placeholder:text-primary-blue placeholder:font-semibold min-w-[100px] peer "
                                name="{{ filter.min_value.param_name }}"
                                id="Mobile-Filter-{{ filter.label | escape }}-GTE"
                                {%- if filter.min_value.value -%}
                                  {%- if uses_comma_decimals -%}
                                    value="{{ filter.min_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                                  {%- else -%}
                                    value="{{ filter.min_value.value | money_without_currency | replace: ',', '' | floor }}"
                                  {%- endif %}
                                {%- endif -%}
                                type="number"
                                placeholder="0"
                                min="0"
                                inputmode="decimal"
                                {%- if uses_comma_decimals -%}
                                  max="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                                {%- else -%}
                                  max="{{ filter.range_max | money_without_currency | replace: ',', '' | floor }}"
                                {% endif %}
                              >
                              <label
                                class="!font-normal m-body-copy absolute left-4 top-2 translate-y-0 !text-[12px] pointer-events-none"
                                for="Mobile-Filter-{{ filter.label | escape }}-GTE"
                              >
                                {{- 'products.facets.min' | t -}}
                                {{- cart.currency.symbol -}}
                              </label>
                            </div>
                          </div>
                          <p class="text-sm text-primary-blue">to</p>
                          <div class="flex items-center gap-1 border border-secondary-blue-50">
                            <div class="field relative">
                              <input
                                class="main-price-max-input w-full h-[65px] pt-[34px] pb-2 px-4 !font-semibold appearance-none rounded-none outline-none focus:outline-none  placeholder:text-primary-blue placeholder:font-semibold min-w-[100px] peer"
                                name="{{ filter.max_value.param_name }}"
                                id="Mobile-Filter-{{ filter.label | escape }}-LTE"
                                {%- if filter.max_value.value -%}
                                  {%- if uses_comma_decimals -%}
                                    value="{{ filter.max_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                                  {%- else -%}
                                    value="{{ filter.max_value.value | money_without_currency | replace: ',', '' | floor }}"
                                  {%- endif %}
                                {%- endif -%}
                                type="number"
                                min="0"
                                inputmode="decimal"
                                {%- if uses_comma_decimals -%}
                                  placeholder="{{ filter.range_max | money_without_trailing_zeros  | replace: '.', '' | replace: ',', '.'  | remove: '£' }}"
                                  max="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                                {%- else -%}
                                  placeholder="{{ filter.range_max | money_without_trailing_zeros  | replace: ',', '' | remove: '£' }}"
                                  max="{{ filter.range_max | money_without_currency | replace: ',', '' | floor }}"
                                {% endif %}
                              >
                              <label
                                class="!font-normal m-body-copy absolute left-4 top-2 translate-y-0 !text-[12px] pointer-events-non"
                                for="Mobile-Filter-{{ filter.label | escape }}-LTE"
                              >
                                {{- 'products.facets.max' | t -}}
                                {{- cart.currency.symbol -}}
                              </label>
                            </div>
                          </div>
                        </price-range>
                      </div>
                    </details>
                {% endcase %}
              {%- endif -%}
            {%- endfor -%}
          </div>

          <div class="mobile-facets__footer text-center p-4 bg-white/90 shadow-[0px_4px_50px_0px_#2C3B961A]">
            <div class="product-count [&.loading>div]:!block">
              <p class="mobile-facets__count text-sm mb-4">
                {%- if results.results_count -%}
                  {{ 'templates.search.results_with_count' | t: terms: results.terms, count: results.results_count }}
                {%- elsif results.products_count == 1 -%}
                  {{ 'products.facets.product_show_one' | t }}
                {%- else -%}
                  {{
                    'products.facets.product_count'
                    | t: product_count: results.products_count, count: results.all_products_count
                  }}
                {%- endif -%}
              </p>
              <div class="loading-overlay__spinner hidden absolute top-5 lg:top-14 left-5 lg:left-14 z-[60] ">
                <svg
                  aria-hidden="true"
                  focusable="false"
                  class="spinner w-full h-auto"
                  viewBox="0 0 66 66"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <circle class="path !stroke-current" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                </svg>
              </div>
            </div>

            <div class="grid grid-cols-2 grid-rows-[1fr] gap-x-2 ">
              <facet-remove class="block">
                <a
                  href="{{ results_url }}"
                  class="h-10 flex items-center uppercase justify-center text-sm font-normal border border-primary-blue text-primary-blue bg-transparent  xl:btn-hover-animated xl:btn-hover-animated-secondary xl:btn-secondary relative w-full "
                >
                  Clear All
                </a>
              </facet-remove>
              <button
                type="button"
                class="no-js-hidden btn-large uppercase text-sm font-normal relative btn-primary sm:btn-hover-animated-primary btn-apply-filters h-10 !max-w-none"
              >
                {{ 'products.facets.apply' | t }}
              </button>
            </div>
          </div>

          {% if results.current_vendor or results.current_type %}
            <input type="hidden" name="q" value="{{ results.current_vendor }}{{ results.current_type }}">
          {% endif %}

          {%- if results.terms -%}
            <input type="hidden" name="q" value="{{ results.terms | escape }}">
            <input name="options[prefix]" type="hidden" value="last">
          {%- endif -%}
        </div>
      </form>
    </facet-filters-form>
  </details>
</menu-drawer>
