{% comment %}
  Renders a header search. Should be used with 'header.liquid'

  Accepts:
  - input_id: {String} Id for the search input element (required)

  Usage:
  {% render 'header-search', input_id: 'My-Id'%}
{% endcomment %}

<div
  id="header-search"
  class="predictive-search-wrap relative"
  role="dialog"
  aria-modal="true"
  aria-label="{{ 'general.search.search' | t }}"
>
  <div
    class="outline-none"
    tabindex="-1"
  >
    <predictive-search
      class="block search-modal__form group/search"
      data-loading-text="{{ 'accessibility.loading' | t }}"
    >
      <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
        <div class="field relative">
          <input
            class="search__input field__input w-full py-2 lg:py-3 lg:w-full border-b border-blue-1/10 outline-none pl-5 placeholder:text-blue-1 font-normal appearance-none bg-transparent"
            id="{{ input_id }}"
            type="search"
            name="q"
            value="{{ search.terms | escape }}"
            placeholder="{{ 'general.search.search' | t }}"
            {%- if settings.predictive_search_enabled -%}
              role="combobox"
              aria-expanded="false"
              aria-owns="predictive-search-results"
              aria-controls="predictive-search-results"
              aria-haspopup="listbox"
              aria-autocomplete="list"
              autocorrect="off"
              autocomplete="off"
              autocapitalize="off"
              spellcheck="false"
            {%- endif -%}
          >
          <label class="field__label hidden" for="{{ input_id }}">{{ 'general.search.search' | t }}</label>
          <input type="hidden" name="options[prefix]" value="last">
          <button
            type="reset"
            class="reset__button field__button absolute right-0 top-1/2 -translate-y-1/2{% if search.terms == blank %} hidden{% endif %}"
            aria-label="{{ 'general.search.reset' | t }}"
          >
            {% render 'icon-close' %}
          </button>
           <button
            class="search__button field__button absolute left-0 top-1/2 -translate-y-1/2 "
            aria-label="{{ 'general.search.search' | t }}" 
          >
            {% render 'icon-search' %}
          </button>
        </div>

        <div
          class="predictive-search predictive-search--header max-lg:!max-h-none lg:shadow-megamenu lg:absolute lg:top-full lg:left-0 lg:bg-white/95 hidden group-open/search:!block group-open/search:py-5 lg:p-5 w-full lg:overflow-auto lg:-mt-px"
          tabindex="-1"
          data-predictive-search
        >
          <div class="predictive-search__loading-state !hidden">
            <svg
              aria-hidden="true"
              focusable="false"
              class="spinner"
              viewBox="0 0 66 66"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
            </svg>
          </div>
        </div>

        <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
      </form>
    </predictive-search>
  </div>
</div>
<style>
  .reset__button svg {
    width: 13px;
    height: auto;
  }

  .icon.icon-arrow {
    width: 13px;
    height: auto;
  }
</style>
