{% comment %}
  Renders product variant-picker

  Accepts:
  - product: {Object} product object.
  - product_form_id: {String} Id of the product form to which the variant picker is associated.
  - update_url: {Boolean} whether or not to update url when changing variants. If false, the url isn't updated. Default: true (optional).
  Usage:
  {% render 'product-variant-picker', product: product, block: block, product_form_id: product_form_id %}
{% endcomment %}
 
{%- unless product.has_only_default_variant -%}
  <variant-radios
    id="variant-radios-{{ section.id }}"
    class="no-js-hidden max-md:space-y-6"
    data-section="{{ section.id }}"
    data-url="{{ product.url }}"
    {% if update_url == false %}
      data-update-url="false"
    {% endif %}
  >
    {%- for option in product.options_with_values -%}
      {% assign selectedValue = option.selected_value | handleize %}
      {% assign values_count = option.values.size %}

      {% assign option_included = true %}

      {% unless specific_variants == blank %}
        {% assign selectedValue = blank %}
        {% assign values_count = 0 %}
        {% assign option_included = false %}
        {% assign added_options = '' %}
        {% for variant in product.variants %}
          {% for specific_variant in specific_variants %}
            {% assign spec = specific_variant | plus: 0 %}
            {% if spec == variant.id %}
              {% for value in option.values %}
                {% if variant.options contains value %}
                  {% unless added_options contains value %}
                    {% assign added_options = added_options | append: value %}

                    {% assign option_included = true %}
                    {% if selectedValue == blank %}
                      {% assign selectedValue = value | handleize %}
                    {% endif %}
                    {% assign values_count = values_count | plus: 1 %}
                  {% endunless %}
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endfor %}
        {% endfor %}
      {% endunless %}

      {% if option_included == true %}
        <fieldset
          id="option-{{ option.name | handle }}"
          aria-labelledby="fake-legend-{{ option.name | handle }}"
          data-optionname="{{ option.name }}"
          class="js product-form__input md:pb-4"
        >
          <div
            data-acc
            class="float-left form__label d-h5 space-x-6 flex w-full items-center max-md:text-[14px]"
            id="fake-legend-{{ option.name | handle }}"
          >
            <div class="mr-auto">
              <span class="text-sm font-normal current-variation-label">
                {%- liquid
                  if option.name == 'color' or option.name == 'Color'
                    echo 'Colour'
                  else
                    echo option.name
                  endif
                -%}:
              </span>
              <span class="current-variation max-md:text-sm text-base font-semibold" data-varcurrent="{{ option.name }}">
                {% if option.name == 'Colour' or option.name == 'Color' %}
                  {% if selected_colour != '' %}
                    {% assign selectedValue = selected_colour %}
                  {% endif %}
                {% endif %}

                {% if option.name == 'Size' and selected_size != '' %}
                  {% assign selectedValue = selected_size %}
                {% endif %}

                {%- for value in option.values -%}
                  {%- assign valueHandle = value | handleize -%}
                  {% if valueHandle == selectedValue %}
                    {{ value }}
                  {% endif %}
                {% endfor %}
              </span>
            </div>

            {% if option.name == 'Size' or option.name == 'Duvet Size' %}
             
                <div id="sideguidemodal" class="text-right !ml-auto pl-5 self-start whitespace-nowrap">
                  <button aria-label="Go to sizeguide" class="text-sm font-semibold no-underline flex items-center" data-modaltrigger="sizeguide">
                    Size Guide
                    <span class="ml-2">
                      {% render 'icon-size' %}
                    </span>
                  </button>
                </div>
         
            {% endif %}
          </div>

          {% liquid
            if option.name == 'Colour' or option.name == 'Color'
              assign options_wrap_class = 'product-option-wrap gap-2 flex-wrap pt-4 md:pt-4 clear-left flex opacity-100'
            else
              assign options_wrap_class = 'product-option-wrap grid max-lg:grid-cols-2 max-lg:gap-0 lg:grid-cols-3 gap-1 pt-4 md:pt-4 clear-left opacity-100'
            endif
          %}
          <div class="{{ options_wrap_class }}">
            {% render 'product-variant-options',
              product: product,
              option: option,
              mobile: true,
              selectedValue: selectedValue,
              selected_colour: selected_colour,
              selected_size: selected_size,
              current_variant: current_variant,
              specific_variants: specific_variants
            %}
          </div>
        </fieldset>
      {% endif %}
    {%- endfor -%}
    
    <script id="product-variants" type="application/json">
      {{ product.variants | json }}
    </script>
    <script src="{{ "check-color-swatches.js" | asset_url }}" defer></script>
  </variant-radios>
{%- endunless -%}

<noscript class="product-form__noscript-wrapper-{{ section.id }}">
  <div class="product-form__input{% if product.has_only_default_variant %} hidden{% endif %}">
    <label class="form__label" for="Variants-{{ section.id }}">
      {{- 'products.product.product_variants' | t -}}
    </label>
    <div class="select">
      <select
        name="id"
        id="Variants-{{ section.id }}"
        class="select__select"
        form="{{ product_form_id }}"
      >
        {%- for variant in product.variants -%}
          <option
            {% if variant == product.selected_or_first_available_variant %}
              selected="selected"
            {% endif %}
            {% if variant.available == false %}
              disabled
            {% endif %}
            value="{{ variant.id }}"
          >
            {%- liquid
              echo variant.title
              echo variant.price | money | strip_html | prepend: ' - '
              if variant.available == false
                echo 'products.product.sold_out' | t | prepend: ' - '
              endif
              if variant.quantity_rule.increment > 1
                echo 'products.product.quantity.multiples_of' | t: quantity: variant.quantity_rule.increment | prepend: ' - '
              endif
              if variant.quantity_rule.min > 1
                echo 'products.product.quantity.minimum_of' | t: quantity: variant.quantity_rule.min | prepend: ' - '
              endif
              if variant.quantity_rule.max != null
                echo 'products.product.quantity.maximum_of' | t: quantity: variant.quantity_rule.max | prepend: ' - '
              endif
              # TODO: enable theme-check once `item_count_for_variant` is accepted as valid filter
              # theme-check-disable
              assign cart_quantity = cart | item_count_for_variant: variant.id
              # theme-check-enable
              if cart_quantity > 0
                echo 'products.product.quantity.in_cart_html' | t: quantity: cart_quantity | prepend: ' - '
              endif
            -%}
          </option>
        {%- endfor -%}
      </select>
    </div>
  </div>
</noscript>
