{{ 'splide.min.css' | asset_url | stylesheet_tag }}

{% if image_handle == blank %}
  {% assign image_handle = 'product_image' %}
{% endif %}

{% if product.media.size > 0 %}
  {% liquid
    if mob == true
      comment
        Get the current variant 'Color' and 'Size' from the URL
      endcomment
      assign path_array = request.path | split: '/'
      assign path_array_length = path_array | size
      assign ind = path_array_length | minus: 1
      assign variant_option_array = path_array[ind] | split: ','
      assign variant_option_array_length = variant_option_array | size
      assign selected_colour = ''
      assign selected_size = ''
      if variant_option_array_length > 0
        if variant_option_array[0] contains 'c:'
          assign selected_colour = variant_option_array[0] | replace: 'c:', '' | handleize
        endif
        if variant_option_array[1] contains 's:'
          assign selected_size = variant_option_array[1] | replace: 's:', '' | handleize
        endif
        if variant_option_array[2] contains 's:'
          assign option3 = variant_option_array[2] | replace: 's:', '' | handleize
        endif
      endif

      assign current_variant = product.selected_or_first_available_variant
      if selected_colour != blank and selected_size != blank and option3 != blank
        for variant in product.variants
          assign colour_slug = variant.option1 | handleize
          assign size_slug = variant.option2 | handleize
          assign option3_slug = variant.option2 | handleize
          if colour_slug == selected_colour and size_slug == selected_size and option3_slug == option3
            assign current_variant = variant
          endif
        endfor
      elsif selected_size == ''
        for variant in product.variants
          assign colour_slug = variant.option1 | handleize
          if colour_slug == selected_colour and variant.available
            assign current_variant = variant
          endif
        endfor
      else
        for variant in product.variants
          assign colour_slug = variant.option1 | handleize
          assign size_slug = variant.option2 | handleize
          if colour_slug == selected_colour and size_slug == selected_size
            assign current_variant = variant
          endif
        endfor
      endif
    endif

    if current_variant == blank
      assign current_variant = product.selected_or_first_available_variant
    endif

    assign widths = '61, 122, 375, 550, 664, 776, 1100, 1344, 1552, 1780, 1920'
    assign sizes = '(max-width: 767px) 100vw, (min-width: 768px) 776'
  %}
  <div class="gallery-thumbnail-container ">

    <div class="splide splide-thumbnail-gallery splide-custom">
      <div class="splide__track flex flex-1 ">
        <ul id="splide{{ section.id }}" class="splide__list cursor-pointer flex w-full">
          {% assign first_image = true %}
          {% assign has_product_image = false %}
          {% for media in product.media %}
            {%- assign image_class = 'inset-0  opacity-0' -%}
            {%- assign alt_array = media.alt | split: '-' -%}
            {%- assign alt_striped = alt_array[0] | strip -%}
            {% comment %}{%- alt_striped == current_variant.option1 -%}{% endcomment %}
  
            {% if alt_array[1] == image_handle and media.media_type == 'image' and product.variants.size > 1 %}
              {% if has_product_image == false and current_variant.option1 == alt_striped %}
                {% assign has_product_image = true %}
              {% endif %}
  
              {%- assign loading = 'lazy' %}
  
              {%- assign width = 776 -%}
              {%- assign loading = 'eager' -%}
              {% assign image_class = image_class | remove: 'opacity-0' %}
              {%- assign width = 1552 -%}
              {%- assign sizes = '(max-width: 767px) 100vw, (min-width: 768px) 776px' %}
  
              {%- assign aspect_ratio = media.height | times: 100 | divided_by: media.width | times: 100 -%}
              {%- assign height = width | times: aspect_ratio | divided_by: 10000 -%}
              {% comment %}
                {% assign height = width | divided_by: 0.8 | round: 0 %}
              {% endcomment %}
  
              {% if current_variant.option1 == alt_striped %}
                {% if current_variant.option1 == alt_striped and first_image == true %}
                  {% assign first_image = false %}
                {% endif %}
                <li class="splide__slide !h-[126px] !translate-x-0">
                  <div
                      id="media-{{ media.id }}"
                      class="flex block "
                      data-option1="{{ alt_striped }}"
                  >
                    <figure class=" w-full relative z-0">
                      {%- render 'spinner' -%}
  
                      {%- render 'lazyimg',
                          width: width,
                          height: height,
                          img: media,
                          widths: widths,
                          class: image_class,
                          sizes: '120px',
                          loading: loading
                      -%}
                    </figure>
                  </div>
                </li>
              {% endif %}
  
              {%- unless image_handle == 'bundle_image' -%}
              <script>
                window.hiddenVariantsImages = window.hiddenVariantsImages || {};
                window.hiddenVariantsImages['{{ alt_striped }}'] = window.hiddenVariantsImages['{{ alt_striped }}'] || {};
                window.hiddenVariantsImages['{{ alt_striped }}']['{{ media.id }}'] = {
                  src: '{{ media | image_url: width: width, height: height, crop: 'center' }}',
                  widths: '{{ widths }}',
                  sizes: '{{ sizes }}',
                  classes: '{{ image_class | remove: 'opacity-0' }}',
                  option1: '{{ alt_striped }}'
                };
              </script>
              {%- endunless -%}
            {%- endif -%}
          {% endfor %}
  
          {% if has_product_image == false %}
            {% for media in product.images %}
              {%- assign image_class = ' inset-0 opacity-0' -%}
              {%- assign loading = 'lazy' %}
  
              {%- assign width = 776 -%}
              {%- assign loading = 'eager' -%}
              {% assign image_class = image_class | remove: 'opacity-0' %}
              {%- assign width = 1552 -%}
              {%- assign sizes = '(max-width: 767px) 100vw, (min-width: 768px) 776' %}
  
  
              {%- assign aspect_ratio = media.height | times: 100 | divided_by: media.width | times: 100 -%}
              {%- assign height = width | times: aspect_ratio | divided_by: 10000 -%}
              {% comment %}
                {% assign height = width | divided_by: 0.8 | round: 0 %}
              {% endcomment %}
  
              {%- assign alt_array = media.alt | split: '-' -%}
              {%- assign alt_striped = alt_array[0] | strip -%}
  
              {% if alt_array[1] != 'product_swatch' %}
                {% if first_image == true %}
                  {% assign first_image = false %}
                {% endif %}
                <li class="splide__slide !h-[126px] !translate-x-0">
                  <div
                      id="media-{{ media.id }}"
                      class="flex  "
                      data-option1="{{ alt_striped }}"
                  >
                    <figure class="w-full relative z-0">
                      {%- render 'spinner' -%}
  
                      {%- render 'lazyimg',
                          width: width,
                          height: height,
                          img: media,
                          widths: widths,
                          class: image_class,
                          sizes: sizes,
                          loading: loading
                      -%}
                    </figure>
                  </div>
                </li>
              {% endif %}
  
              {%- unless image_handle == 'bundle_image' -%}
                <script>
                  window.hiddenVariantsImages = window.hiddenVariantsImages || {};
                  window.hiddenVariantsImages['{{ alt_striped }}'] = window.hiddenVariantsImages['{{ alt_striped }}'] || {};
                  window.hiddenVariantsImages['{{ alt_striped }}']['{{ media.id }}'] = {
                    src: '{{ media | image_url: width: width, height: height, crop: 'center' }}',
                    widths: '{{ widths }}',
                    sizes: '{{ sizes }}',
                    classes: '{{ image_class | remove: 'opacity-0' }}',
                    option1: '{{ alt_striped }}'
                  };
                </script>
              {%- endunless -%}
            {% endfor %}
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
  <div
    class="splide splide-custom splide-gallery-mob min-h-[var(--header-height)] lg:min-h-[var(--header-height-lg)]
    {{ group_class }} group/splide"
    data-currentop1="{{ current_variant.option1 }}"
  >
    <button
      type="button"
      aria-label="Add to wishlist"
      button-wishlist
      data-product-handle="{{ product.handle }}"
      class="card__wishlist lg:hidden wishlist-button [&.active_svg]:animate-scalein [&.active_path]:fill-primary-blue group/wlbtn z-10"
    >
      {% render 'icon-heart', color: 'currentColor' %}
    </button>
    <div class="splide__track h-[calc(100dvh-150px)] aspect-square flex flex-1 [&_figure>img]:aspect-square [&_figure>img]:object-cover">
      <ul class="splide__list flex !h-auto w-full">
        {% assign first_image = true %}
        {% assign has_product_image = false %}
        {% for media in product.media %}
          {%- assign image_class = 'object-contain object-center w-full h-full inset-0  click-zoom cursor-zoom-in opacity-0' -%}
          {%- assign alt_array = media.alt | split: '-' -%}
          {%- assign alt_striped = alt_array[0] | strip -%}
          {% comment %}{%- alt_striped == current_variant.option1 -%}{% endcomment %}

          {% if alt_array[1] == image_handle and media.media_type == 'image' and product.variants.size > 1 %}
            {% if has_product_image == false and current_variant.option1 == alt_striped %}
              {% assign has_product_image = true %}
            {% endif %}

            {%- assign loading = 'lazy' %}

            {%- assign width = 776 -%}
            {%- assign loading = 'eager' -%}
            {% assign image_class = image_class | remove: 'opacity-0' %}
            {%- assign width = 1552 -%}
            {%- assign sizes = '(max-width: 767px) 100vw, (min-width: 768px) 776px' %}

            {%- assign aspect_ratio = media.height | times: 100 | divided_by: media.width | times: 100 -%}
            {%- assign height = width | times: aspect_ratio | divided_by: 10000 -%}
            {% comment %}
              {% assign height = width | divided_by: 0.8 | round: 0 %}
            {% endcomment %}

            {% if current_variant.option1 == alt_striped %}
              {% if current_variant.option1 == alt_striped and first_image == true %}
                {% assign first_image = false %}
              {% endif %}
              <li class="splide__slide !translate-x-0">
                <div
                    id="media-{{ media.id }}"
                    class="flex block "
                    data-option1="{{ alt_striped }}"
                >
                  <figure class=" w-full relative z-0">
                    {%- render 'spinner' -%}

                    {%- render 'lazyimg',
                        width: width,
                        height: height,
                        img: media,
                        widths: widths,
                        class: image_class,
                        sizes: sizes,
                        loading: loading
                    -%}
                  </figure>
                </div>
              </li>
            {% endif %}

            {%- unless image_handle == 'bundle_image' -%}
            <script>
              window.hiddenVariantsImages = window.hiddenVariantsImages || {};
              window.hiddenVariantsImages['{{ alt_striped }}'] = window.hiddenVariantsImages['{{ alt_striped }}'] || {};
              window.hiddenVariantsImages['{{ alt_striped }}']['{{ media.id }}'] = {
                src: '{{ media | image_url: width: width, height: height, crop: 'center' }}',
                widths: '{{ widths }}',
                sizes: '{{ sizes }}',
                classes: '{{ image_class | remove: 'opacity-0' }}',
                option1: '{{ alt_striped }}'
              };
            </script>
            {%- endunless -%}
          {%- endif -%}
        {% endfor %}

        {% if has_product_image == false %}
          {% for media in product.images %}
            {%- assign image_class = 'object-contain object-center w-full h-full inset-0  click-zoom cursor-zoom-in opacity-0' -%}
            {%- assign loading = 'lazy' %}

            {%- assign width = 776 -%}
            {%- assign loading = 'eager' -%}
            {% assign image_class = image_class | remove: 'opacity-0' %}
            {%- assign width = 1552 -%}
            {%- assign sizes = '(max-width: 767px) 100vw, (min-width: 768px) 776' %}


            {%- assign aspect_ratio = media.height | times: 100 | divided_by: media.width | times: 100 -%}
            {%- assign height = width | times: aspect_ratio | divided_by: 10000 -%}
            {% comment %}
              {% assign height = width | divided_by: 0.8 | round: 0 %}
            {% endcomment %}

            {%- assign alt_array = media.alt | split: '-' -%}
            {%- assign alt_striped = alt_array[0] | strip -%}

            {% if alt_array[1] != 'product_swatch' %}
              {% if first_image == true %}
                {% assign first_image = false %}
              {% endif %}
              <li class="splide__slide !translate-x-0">
                <div
                    id="media-{{ media.id }}"
                    class="flex  "
                    data-option1="{{ alt_striped }}"
                >
                  <figure class="w-full relative z-0">
                    {%- render 'spinner' -%}

                    {%- render 'lazyimg',
                        width: width,
                        height: height,
                        img: media,
                        widths: widths,
                        class: image_class,
                        sizes: sizes,
                        loading: loading
                    -%}
                  </figure>
                </div>
              </li>
            {% endif %}

            {%- unless image_handle == 'bundle_image' -%}
              <script>
                window.hiddenVariantsImages = window.hiddenVariantsImages || {};
                window.hiddenVariantsImages['{{ alt_striped }}'] = window.hiddenVariantsImages['{{ alt_striped }}'] || {};
                window.hiddenVariantsImages['{{ alt_striped }}']['{{ media.id }}'] = {
                  src: '{{ media | image_url: width: width, height: height, crop: 'center' }}',
                  widths: '{{ widths }}',
                  sizes: '{{ sizes }}',
                  classes: '{{ image_class | remove: 'opacity-0' }}',
                  option1: '{{ alt_striped }}'
                };
              </script>
            {%- endunless -%}
          {% endfor %}
        {% endif %}
      </ul>
    </div>

    <div
      class="
        splide__arrows splide__arrows--ltr splide__custom-arrows xl:transition-opacity
        xl:opacity-0 xl:group-hover/splide:opacity-100
      "
    >
      <button class="splide__arrow splide__arrow--prev">
        {% render 'icon-arrow-drop-down' %}
      </button>
      <button class="splide__arrow splide__arrow--next">
        {% render 'icon-arrow-drop-down' %}
      </button>
    </div>

    <ul class="splide__pagination splide__custom-pagination splide__pagination--ltr"></ul>
  </div>
{% endif %}
