{% liquid
  assign widths = '42'
  assign sizes = '(max-width: 767px) 42px'
  assign class = 'w-[42px] h-[42px] object-contain opacity-0 mx-auto mb-2 md:mb-8'
%}

{% assign img_width = 640 %}

<div class="bg-primary-white-cotton py-12 pb-[30px]">
  <div class="px-4 md:container">
    <div
      class="flex flex-col items-center"
    >
      <header class="mb-12">
        {% if section.settings.title %}
          <h2 class="text-[32px] leading-10 font-normal md:text-[45px] md:leading-[52px] font-sec">{{ section.settings.title }}</h2>
        {% endif %}
      </header>

      <div class="grid grid-cols-2 gap-6 md:grid-cols-4 text-center">
        {%- for block in section.blocks -%}
          <div {{ block.shopify_attributes }} class="flex flex-col items-center justify-between">
            <div>
            {% if block.settings.image != blank %}
              {%- render 'lazyimg',
                img: block.settings.image,
                width: 42,
                height: 42,
                widths: widths,
                class: class,
                sizes: sizes
              -%}
            {% endif %}
              <h4 class="text-base font-semibold">{{ block.settings.title }}</h4>
            </div>
            <div>
              <div class="text-xs font-normal tracking-[.25px] h-[50px] overflow-hidden line-clamp-3 mt-6 px-4">{{ block.settings.copy }}</div>
              {% if block.settings.button_link and block.settings.button_title %}
                <a class="btn-tertiary cursor-pointer !font-normal hover:!font-normal mt-6 text-xs md:text-sm" href="{{ block.settings.button_link}}">{{ block.settings.button_title }}</a>
              {% endif %}
            </div>
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

{% if section.settings.margin == 'no' %}
  <style>
    #shopify-section-{{ section.id }} {
        margin: 0 !important;
    }
  </style>
{% endif %}

{% schema %}
{
  "name": "Benefits Icons",
  "tag": "section",
  "class": "section-why-christy",
  "disabled_on": {
    "groups": ["header", "footer"],
    "templates": ["article"]
  },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Our Services"
    },
    {
      "type": "radio",
      "id": "margin",
      "label": "Include Margin",
      "options": [
        {
          "value": "yes",
          "label": "Yes"
        },
        {
          "value": "no",
          "label": "No"
        }
      ],
      "default": "yes"
    }
  ],
  "blocks": [
    {
      "type": "block",
      "name": "Block",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Icon"
        },
        {
          "type": "text",
          "id": "title",
          "default": "Free Shipping & Returns",
          "label": "Block Title"
        },
        {
          "type": "richtext",
          "id": "copy",
          "label": "Block Copy",
          "default": "<p>Plus our 30-Night Worry-Free Guarantee.</p>"
        },
        {
          "type": "url",
          "id": "button_link",
          "default": "/collections/all",
          "label": "Button Link"
        },
        {
          "type": "text",
          "id": "button_title",
          "default": "Learn More",
          "label": "Button Title"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Benefits Icons",
      "blocks": [
        {
          "type": "block"
        },
        {
          "type": "block"
        },
        {
          "type": "block"
        },
        {
          "type": "block"
        }
      ]
    }
  ]
}
{% endschema %}
