{{ 'splide.min.css' | asset_url | stylesheet_tag }}
<div
  id="FeaturedBlogs-{{ section.id }}"
  class="overflow-hidden"
>
  <div class="container space-y-5 lg:space-y-8">
    <div
      class="splide group/splide space-y-5 lg:space-y-8"
      data-splide='
        {"arrows": true, "pagination": false, "type": "slide", "gap": "40px", "autoWidth": true, "focus": 0, "omitEnd": true, "breakpoints": {
          "768": {
            "gap": "20px"
          }
        }}
      '
    >
      <header class="flex justify-between space-x-5 items-center">
        {% if section.settings.title != blank %}
          <h2 class="m-h1 lg:d-h1 text-blue-1">{{ section.settings.title }}</h2>
        {% endif %}

        <div class="splide__arrows splide__arrows--ltr hidden group-[.is-initialized]/splide:!flex justify-end  !-mr-[15px]">
          <button
            class="splide__arrow splide__arrow--prev !w-10 !h-10 disabled:!opacity-0 transition-opacity !bg-transparent !static !transform-none outline-none"
            type="button"
            aria-label="Previous slide"
            aria-controls="splide01-track"
          >
            <svg class="w-full" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path class="fill-blue-1" d="M7.33 24l-2.83-2.829 9.339-9.175-9.339-9.167 2.83-2.829 12.17 11.996z"/>
            </svg>
          </button>
          <button
            class="splide__arrow splide__arrow--next !w-10 !h-10 disabled:!opacity-0 transition-opacity !bg-transparent !static !transform-none outline-none"
            type="button"
            aria-label="Next slide"
            aria-controls="splide01-track"
          >
            <svg class="w-full" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path class="fill-blue-1" d="M7.33 24l-2.83-2.829 9.339-9.175-9.339-9.167 2.83-2.829 12.17 11.996z"/>
            </svg>
          </button>
        </div>
      </header>

      <div class="splide__track !overflow-visible">
        <div class="splide__list text-blue-1">
          {% for block in section.blocks -%}
            {% assign collection = block.settings.collection %}
            {% assign theimage = blank %}

            {% liquid
              assign span_class = 'w-[245px] lg:w-[327px]'
              assign btn_class = 'btn-tertiary'
              assign btn_label = 'Shop Now'
              assign btn_wrap_class = '!mt-7'
            %}
            <div class="splide__slide {{ span_class }}" {{ block.shopify_attributes }}>
              <article class="space-y-6 lg:space-y-8 max-sm:flex max-sm:flex-col">
                {%- liquid
                  assign widths = '245, 327, 490, 550, 654'
                  assign sizes = '(max-width: 1023px) 245px, (min-width: 1024px) 327px'

                  assign image_class = 'object-cover object-center w-full h-full inset-0 aspect-[1/1] opacity-0'
                -%}
                {% if block.settings.image != blank %}
                  {% assign theimage = block.settings.image %}
                {% elsif collection.image != blank %}
                  {% assign theimage = collection.image %}
                {% endif %}

                {%- if theimage != blank -%}
                  <figure class="relative">
                    {% if block.settings.usp_title != blank %}
                      <div class="absolute left-0 top-0 w-full flex justify-center bg-blue-1/50 text-white p-2 pointer-events-none z-10">
                        <p class="font-semibold">{{ block.settings.usp_title }}</p>
                      </div>
                    {% endif %}
                    <a href="{{ collection.url }}">
                      {% render 'spinner' %}
                      {%- render 'lazyimg',
                        img: theimage,
                        width: 327,
                        height: 327,
                        widths: widths,
                        class: image_class,
                        sizes: sizes
                      -%}
                    </a>
                  </figure>
                {%- endif -%}

                <div class="space-y-6 max-sm:order-1">
                  <div class="space-y-3 lg:space-y-6">
                    <h3 class="s-m-h1 lg:s-m-h2">
                      {% if block.settings.alt_title != blank %}
                        {{ block.settings.alt_title }}
                      {% else %}
                        {{ collection.title }}
                      {% endif %}
                    </h3>
                  </div>

                  {% if block.settings.excerpt != blank %}
                    <div class="wysiwyg">
                      {{ block.settings.excerpt }}
                    </div>
                  {% elsif collection.description != blank %}
                    <div class="wysiwyg">
                      {{ collection.description | strip_html | truncatewords: 20 }}
                    </div>
                  {% endif %}
                </div>
                <div class="max-sm:order-3 max-sm:!mb-0 {{ btn_wrap_class }}">
                  <a
                    href="{{ collection.url }}"
                    class="{{ btn_class }}"
                  >
                    {{ btn_label }}
                  </a>
                </div>
              </article>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% style %}
{%- if section.settings.collection_carousel_title_font_size_mob != blank -%}
  #shopify-section-{{ section.id }} .m-h1 {
    font-size: {{ section.settings.collection_carousel_title_font_size_mob }}px;
  }
  {%- endif -%}

  {%- if section.settings.collection_carousel_title_font_weight != blank -%}
  #shopify-section-{{ section.id }} .m-h1 {
    font-weight: {{ section.settings.collection_carousel_title_font_weight }};
  }
  {%- endif -%}

  {%- if section.settings.collection_carousel_title_font_family != blank -%}
  #shopify-section-{{ section.id }} .m-h1 {
    font-family: 
      {%- if section.settings.collection_carousel_title_font_family == 'serif' -%}
        serif
      {%- elsif section.settings.collection_carousel_font_family == 'sans-serif' -%}
        sans-serif
      {%- else -%}
        "Hatton", serif
      {%- endif -%};
  }
  {%- endif -%}
  {% if section.settings.screen_visibility == 'mobile' %}
    @media all and (min-width: 768px ) {
        #shopify-section-{{ section.id }} {
            display: none !important;
        }
    }
  {% endif %}

  {% if section.settings.screen_visibility == 'desktop' %}
    @media all and (max-width: 767px ) {
        #shopify-section-{{ section.id }} {
            display: none !important;
        }
    }
  {% endif %}

  {%- if section.settings.collection_carousel_title_font_size_desktop != blank -%}
  @media all and (min-width: 1024px) {
    #shopify-section-{{ section.id }} .m-h1 {
      font-size: {{ section.settings.collection_carousel_title_font_size_desktop }}px;
    }
  }
  {%- endif -%}
{% endstyle %}

{% schema %}
{
  "name": "Collections Carousel",
  "tag": "section",
  "class": "section-featuredblogs",
  "disabled_on": {
    "groups": ["header", "footer"],
    "templates": ["article"]
  },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "range",
      "id": "collection_carousel_title_font_size_mob",
      "min": 12,
      "max": 54,
      "step": 1,
      "unit": "px",
      "label": "Collection carousel Title Font Size MOBILE",
      "default": 18
    },
    {
      "type": "range",
      "id": "collection_carousel_title_font_size_desktop",
      "min": 12,
      "max": 54,
      "step": 1,
      "unit": "px",
      "label": "Collection carousel Title Font Size DESKTOP",
      "default": 30
    },
    {
      "type": "select",
      "id": "collection_carousel_title_font_weight",
      "label": "Collection carousel Title Font Weight",
      "options": [
        {
          "value": "300",
          "label": "Light"
        },
        {
          "value": "400",
          "label": "Normal"
        },
        {
          "value": "600",
          "label": "Semi Bold"
        },
        {
          "value": "700",
          "label": "Bold"
        }
      ],
      "default": "600"
    },
    {
      "type": "select",
      "id": "collection_carousel_title_font_family",
      "label": "Collection carousel Title Font Type",
      "options": [
        {
          "value": "sans-serif",
          "label": "Sans Serif"
        },
        {
          "value": "serif",
          "label": "Serif"
        },
        
      ],
      "default": "serif"
    },
    {
      "type": "select",
      "id": "screen_visibility",
      "label": "Screen Visibility",
      "default": "mobile",
      "options": [
        {
          "value": "mobile",
          "label": "Mobile"
        },
        {
          "value": "desktop",
          "label": "Desktop"
        },
        {
          "value": "both",
          "label": "Both"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "text",
          "id": "usp_title",
          "label": "USP Title",
          "info": "Optional. E.G: 'Upto 50% Off'"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Alternative Image",
          "info": "Optional. If left blank, the collection image will be used."
        },
        {
          "type": "text",
          "id": "alt_title",
          "label": "Alternative Title",
          "info": "Optional. E.G: 'Bath'"
        },
        {
          "type": "richtext",
          "id": "excerpt",
          "label": "Excerpt",
          "info": "Optional. If left blank, the collection description will be used."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collections Carousel"
    }
  ]
}
{% endschema %}
{% render 'quickview-drawer' -%} 