{{ 'splide.min.css' | asset_url | stylesheet_tag }}
<div
  id="FeaturedBlogs-{{ section.id }}"
  class="overflow-hidden max-xl:hidden"
>
  <div class="container py-12 pb-0 our-stories-section xl:mb-[20px]">
    <div
      class="splide group/splide"
      data-splide='
        {"arrows": true, "pagination": false, "type": "slide", "gap": "40px", "autoWidth": false, "focus": 0, "omitEnd": true, "perPage": 4,
          "perMove": 4
        }
      '
    >
      <header class="flex justify-center items-center relative mb-[30px]">
        {% if section.settings.title != blank %}
          <h2 class="text-primary-blue text-[45px] font-normal font-sec leading-[52px]">{{ section.settings.title }}</h2>
        {% endif %}

        <a href="/pages/christy-life" class="absolute right-0 text-sm font-normal text-primary-blue underline">More stories</a>
      </header>

      <div class="splide__track !overflow-visible mb-4">
        <div class="splide__list text-primary-blue flex">

          {% assign blogs_linklist_handle = 'blog-menu' %}
          {% liquid
            assign blogs_linklist = linklists[blogs_linklist_handle]
            assign articles = '' | split: ','
            for blog_link in blogs_linklist.links
              assign articles = articles | concat: blog_link.object.articles
            endfor
            assign articles = articles | uniq | sort: 'published_at' | reverse
          %}

          {% for blog_article in articles limit: 16 %}
            {% if blog_article.id != article.id %}
              <div class="splide__slide w-full max-w-[300px] max-h-[450px] !mr-2">
                <article>
                  {%- liquid
                    assign widths = '245, 300'
                    assign sizes = '(max-width: 1023px) 245px, (min-width: 1024px) 300px'

                    assign image_class = 'object-cover object-center inset-0 opacity-0 mb-6'
                  -%}
                  <a href="{{ blog_article.url }}">
                    {% render 'spinner' %}
                    {%- render 'lazyimg',
                      img: blog_article.image,
                      width: 300,
                      height: 300,
                      widths: widths,
                      class: image_class,
                      sizes: sizes
                    -%}
                    <div class="px-4">
                      <h3 class="text-[22px] font-semibold leading-7">{{ blog_article.title }}</h3>
                    </div>
                  </a>
                </article>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="space-y-3 lg:space-y-4">
        <!-- progress bar -->
        <div class="bg-secondary-blue-100 slider-progress h-px flex items-center">
          <div class="bg-secondary-blue-600 h-px transition-all w-0 lg:h-0.5 slider-progress-bar"></div>
        </div>

        <!-- arrows -->
        <div class="splide__arrows splide__arrows--ltr hidden group-[.is-initialized]/splide:!flex justify-center items-center relative">
          <!-- counter -->
          <div class="text-xs">
            <span data-splide-current-page class="data-[splide-is-last-page=true]:text-secondary-blue-200">1</span>
            /
            <span data-splide-total-pages class="text-secondary-blue-200"></span>
          </div>
          <div class="flex items-center absolute right-0">
            <button
                class="splide__arrow splide__arrow--prev disabled:!text-secondary-blue-200 transition-colors !bg-transparent
                !static !transform-none outline-none"
                type="button"
                aria-label="Previous slide"
                aria-controls="splide01-track"
            >
              {%- render 'icon-long-arrow-right', class: '!w-6 !h-6' -%}
            </button>

            <button
                class="splide__arrow splide__arrow--next disabled:!text-secondary-blue-200 transition-colors
                !bg-transparent !static !transform-none outline-none"
                type="button"
                aria-label="Next slide"
                aria-controls="splide01-track"
            >
              {%- render 'icon-long-arrow-right', class: '!w-6 !h-6' -%}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Featured Blogs",
  "tag": "section",
  "class": "section-featuredblogs",
  "disabled_on": {
    "groups": ["header", "footer"],
    "templates": ["article"]
  },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "presets": [
    {
      "name": "Featured Blogs"
    }
  ]
}
{% endschema %}