{%- if section.settings.copy != blank -%}
<div
  id="Heading-{{ section.id }}"
  class="
    container md:flex max-md:space-y-6 {% if section.settings.alignment == 'center' %}md:justify-center md:text-center{% endif %} {% if section.settings.alignment == 'right' and section.settings.copy == blank %}md:justify-end{% endif %} {% if section.settings.copy != blank %}md:items-center md:gap-5 lg:gap-6{% endif %}
    {% if section.settings.alignment_mob == 'center' %}max-md:justify-center max-md:text-center{% endif %} {% if section.settings.alignment_mob == 'right' %}max-md:justify-end max-md:text-right{% endif %} {% if section.settings.margin_top == true %}{% endif %}
  "
  style="background-color: {{ section.settings.background_color }}; padding-top: 10px; padding-bottom: 10px;"
>
  
  {%- liquid
    if section.settings.copy == blank
      assign headerclass = 's-m-h3 lg:s-d-h2 md:max-w-[643px]'
    else
      assign headerclass = 's-m-h1 lg:s-d-h1 md:w-4/12 md:max-w-[643px]'
    endif

    if section.settings.heading_width == '6'
      assign headerclass = headerclass | append: ' md:!w-6/12' | remove: 'md:max-w-[643px]'
    endif
  %}
  <style>
    @media (max-width: 768px) { /* Adjust this breakpoint as needed */
      #Heading-{{ section.id }} {
        
        width: 100%;
      }
    }
  </style>
  <h2 class="animation an-fadeup {{ headerclass }}  [&_br]:max-md:hidden headingclass text-blue-1 {% if section.settings.horiz_padding and section.settings.copy == blank %}md:px-24{% endif %} heading_responsive_margin">
    {{ section.settings.heading }}
  </h2>

  {%- if section.settings.copy != blank -%}
    {% liquid
      if section.settings.copy_style == 'heading3'
        assign copyclass = 'md:s-m-h3 lg:s-d-h3 md:w-8/12 md:max-w-[500px]'
      else
        assign copyclass = 'md:w-4/12'
      endif
    %}
    <div class="animation an-fadeup md:delay-200 wysiwyg text-blue-1 {{ copyclass }} heading_responsive_margin" style="color: {{ section.settings.font_color }};margin: 2.5rem;" >
      {{ section.settings.copy }}
    </div>
  {%- endif -%}
</div>
{% endif %}

{% style %}
  {%- if section.settings.heading_font_size_mob != blank -%}
  #shopify-section-{{ section.id }} .headingclass {
    font-size: {{ section.settings.heading_font_size_mob }}px;
  }
  {%- endif -%}

  {%- if section.settings.heading_font_weight != blank -%}
  #shopify-section-{{ section.id }} .headingclass {
    font-weight: {{ section.settings.heading_font_weight }};
  }
  {%- endif -%}

  {%- if section.settings.heading_font_family != blank -%}
    #shopify-section-{{ section.id }} .headingclass {
      font-family: 
        {%- if section.settings.heading_font_family == 'serif' -%}
          serif
        {%- elsif section.settings.heading_font_family == 'sans-serif' -%}
          sans-serif
        {%- else -%}
          "Hatton", serif
        {%- endif -%};
    }
  {%- endif -%}

  {%- if section.settings.heading_copy_font_size_mob != blank -%}
  #shopify-section-{{ section.id }} .wysiwyg {
    font-size: {{ section.settings.heading_copy_font_size_mob }}px;
  }
  {%- endif -%}

  {%- if section.settings.heading_copy_font_weight != blank -%}
  #shopify-section-{{ section.id }} .wysiwyg {
    font-weight: {{ section.settings.heading_copy_font_weight }};
  }
  {%- endif -%}

  {%- if section.settings.heading_copy_font_family != blank -%}
  #shopify-section-{{ section.id }} .wysiwyg {
    font-family: 
      {%- if section.settings.heading_copy_font_family == 'serif' -%}
        serif
      {%- elsif section.settings.heading_copy_font_family == 'sans-serif' -%}
        Tomato Grotesk,sans-serif
      {%- else -%}
        'Tomato Grotesk', sans-serif
      {%- endif -%};
  }
  {%- endif -%}

  {% if section.settings.screen_visibility == 'mobile' %}
    @media all and (min-width: 768px ) {
        #shopify-section-{{ section.id }} {
            display: none !important;
        }
    }  
  {% endif %}

  {% if section.settings.screen_visibility == 'desktop' %}
    @media all and (max-width: 767px ) {
        #shopify-section-{{ section.id }} {
            display: none !important;
        }  
    }
  {% endif %}

  {%- if section.settings.heading_font_size_desktop != blank -%}
  @media all and ( min-width: 1024px ) {

      #shopify-section-{{ section.id }} .headingclass {
        font-size: {{ section.settings.heading_font_size_desktop }}px;
      }
  }
  {%- endif -%}

  {%- if section.settings.heading_copy_font_size_desktop != blank -%}
  @media all and (min-width: 1024px) {
    #shopify-section-{{ section.id }} .wysiwyg {
      font-size: 15px;
    }
  }
  {%- endif -%}
{% endstyle %}
{% schema %}
{
  "name": "Heading",
  "tag": "section",
  "class": "section-heading",
  "disabled_on": {
    "groups": ["header", "footer"],
    "templates": ["article"]
  },
  "settings": [
    {
      "type": "richtext",
      "id": "heading",
      "label": "Heading",
      "default": "<p>Discover the magic in <br/>everyday moments.</p>"
    },
    {
      "type": "range",
      "id": "heading_font_size_mob",
      "min": 12,
      "max": 54,
      "step": 1,
      "unit": "px",
      "label": "Heading Font Size MOBILE",
      "default": 24
    },
    {
      "type": "range",
      "id": "heading_font_size_desktop",
      "min": 12,
      "max": 54,
      "step": 1,
      "unit": "px",
      "label": "Heading Font Size DESKTOP",
      "default": 36
    },
    {
      "type": "select",
      "id": "heading_font_weight",
      "label": "Heading Font Weight",
      "options": [
        {
          "value": "300",
          "label": "Light"
        },
        {
          "value": "400",
          "label": "Normal"
        },
        {
          "value": "600",
          "label": "Semi Bold"
        },
        {
          "value": "700",
          "label": "Bold"
        }
      ],
      "default": "600"
    },
    {
      "type": "select",
      "id": "heading_font_family",
      "label": "Heading Font Type",
      "options": [
        {
          "value": "sans-serif",
          "label": "Sans Serif"
        },
        {
          "value": "serif",
          "label": "Serif"
        },
        {
          "value": "Hatton, serif",
          "label": "Hatton, serif"
        }
      ],
      "default": "Hatton, serif"
    },
    {
      "type": "select",
      "id": "heading_width",
      "label": "Heading Width",
      "info": "Choose whether heading should be 4/12 width or 6/12 width.",
      "options": [
        {
          "value": "4",
          "label": "4/12"
        },
        {
          "value": "6",
          "label": "6/12"
        }
      ],
      "default": "4"
    },
    {
      "type": "richtext",
      "id": "copy",
      "label": "Copy (Optional)"
    },
    {
      "type": "range",
      "id": "heading_copy_font_size_mob",
      "min": 12,
      "max": 54,
      "step": 1,
      "unit": "px",
      "label": "Heading Copy Font Size MOBILE",
      "default": 12
    },
    {
      "type": "range",
      "id": "heading_copy_font_size_desktop",
      "min": 12,
      "max": 54,
      "step": 1,
      "unit": "px",
      "label": "Heading Copy Font Size DESKTOP",
      "default": 14
    },
    {
      "type": "select",
      "id": "heading_copy_font_weight",
      "label": "Heading Copy Font Weight",
      "options": [
        {
          "value": "300",
          "label": "Light"
        },
        {
          "value": "400",
          "label": "Normal"
        },
        {
          "value": "600",
          "label": "Semi Bold"
        },
        {
          "value": "700",
          "label": "Bold"
        }
      ],
      "default": "300"
    },
    {
      "type": "select",
      "id": "heading_copy_font_family",
      "label": "Heading Copy Font Type",
      "options": [
        {
          "value": "sans-serif",
          "label": "Sans Serif"
        },
        {
          "value": "serif",
          "label": "Serif"
        },
        {
          "value": "Tomato Grotesk",
          "label": "'Tomato Grotesk', sans-serif"
        }
      ],
      "default": "Tomato Grotesk"
    },
    {
      "type": "select",
      "id": "copy_style",
      "label": "Copy Font Style",
      "info": "If copy is set, this option effects the style of font copy, on Tablet/Desktop.",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "heading3",
          "label": "Heading 3"
        }
      ],
      "default": "default"
    },
    {
      "type": "select",
      "id": "alignment",
      "label": "Heading Horizontal Alignment (Desktop Only)",
      "info": "Choose horizontal alignment.  If copy is filled out, this will have no effect.",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "right"
    },
    {
      "type": "select",
      "id": "alignment_mob",
      "label": "Heading Horizontal Alignment (Mobile Only)",
      "info": "Choose horizontal alignment.  If copy is filled out, this will have no effect.",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "right"
    },
    {
      "type": "checkbox",
      "id": "horiz_padding",
      "default": true,
      "label": "Additonal Horizontal Padding (Desktop Only)",
      "info": "Add horizontal alignment.  If copy is filled out, this will have no effect."
    },
    {
      "type": "checkbox",
      "id": "margin_top",
      "default": false,
      "label": "Additonal Margin Top (Desktop Only)",
      "info": "Add extra space to margin top"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#FFFFFF",
      "info": "Choose a background color for the section."
    },
    {
      "type": "color",
      "id": "font_color",
      "label": "Font Color",
      "default": "#000000",
      "info": "Choose a font color for the text."
    }

  ],
  "presets": [
    {
      "name": "Heading"
    }
  ]
}
{% endschema %}
