<div class="container space-y-16 lg:space-y-14">
  {% if section.settings.title %}
    <h2 class="m-h5 lg:d-h5 font-semibold">{{ section.settings.title }}</h2>
  {% endif %}
  {% case section.blocks.size %}
    {% when 3 %}
      {% assign col_class = 'lg:grid-cols-3' %}
    {% when 4 %}
      {% assign col_class = 'lg:grid-cols-4' %}
  {% endcase %}
  <div class="grid gap-16 md:gap-6 md:grid-cols-2 animation an-fadeup {{ col_class }}">
    {% assign widths = '105, 210' %}
    {%- for block in section.blocks -%}
      <article
        {{ block.shopify_attributes }}
        class="flex-1 md:bg-grey-2 relative group select-none md:flex overflow-hidden max-md:space-y-5"
      >
        <header class="text-center md:py-11 md:px-7 md:absolute inset-0 flex ">
          <div class="m-auto space-y-11 ">
            {%- render 'lazyimg',
              loading: 'lazy',
              img: block.settings.image,
              width: 105,
              height: 105,
              widths: widths,
              class: 'mx-auto block opacity-0',
              sizes: '100vw'
            -%}
            <h3 class="text-[14px] font-semibold lg:d-h5">{{ block.settings.title }}</h3>
          </div>
        </header>

        <div class="space-y-3 lg:space-y-5 flex-1 flex-col flex items-start justify-center md:py-11 md:px-7 md:bg-blue-1 md:text-white md:opacity-0 transition-[transform,opacity] md:translate-y-4 group-hover:opacity-100 group-hover:translate-y-0">
          {% if block.settings.content_title %}
            <h4 class="max-lg:font-semibold lg:d-h5">{{ block.settings.content_title }}</h4>
          {% endif %}
          <div class="wysiwyg">{{ block.settings.text }}</div>
        </div>
      </article>
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "Info Cards",
  "tag": "section",
  "class": "section-infocards",
  "disabled_on": {
    "groups": ["header", "footer"],
    "templates": ["article"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "To be Made in Green, a product has to be:",
      "label": "Title"
    }
  ],
  "blocks": [
    {
      "type": "card",
      "name": "Card",
      "limit": 4,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "default": "Title",
          "label": "Title below image"
        },
        {
          "type": "header",
          "content": "Overlay Content on hover"
        },
        {
          "type": "text",
          "id": "content_title",
          "label": "Overlay Content Title"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Overlay Content Text",
          "default": "<p>Manufactured in socially responsible environments where employees have fair working conditions (like reasonable hours and living wages) and there are bans on forced and child labour. It also specifies that occupational health and safety is in place) there is adequate fire protection, building safety, and protective equipment, and that dust, noise, and heat do not threaten workers' health.</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Info Cards",
      "blocks": []
    }
  ]
}
{% endschema %}
