{% stylesheet %}
  .image-magnify-full-size {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    z-index: 1;
    cursor: zoom-out;
  }

  .product-expanded .metafield-rich_text_field p:not(:first-child) {
    margin-top: 14px;
  }

  .product-expanded .metafield-rich_text_field p:not(:first-child) {
    margin-top: 14px;
  }
  .size-guide-scrollbar-wrapper::-webkit-scrollbar {
    display: none;
  }
  .size-guide-scrollbar-wrapper {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .size-guide-scrollbar {
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
  }

  .size-guide-scrollbar--horizontal {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
  }

  .size-guide-scrollbar .size-guide-thumb {
    width: 100%;
    background: #2c3b96;
    position: absolute;
    top: 0;
    cursor: pointer;
  }

  .size-guide-scrollbar--horizontal .size-guide-thumb--horizontal {
    height: 100%;
    background: #2c3b96;
    position: absolute;
    bottom: 0;
    cursor: pointer;
  }

  .size-guide-scrollbar-wrapper {
    width: 100%;
    height: 100%;
    overflow: scroll;
    padding-right: 15px;
    box-sizing: content-box;
  }

  .size-guide-scrollbar-container {
    width: 100%;
    height: 440px;
    overflow: hidden;
    position: relative;
  }

  @media (max-width: 1023px) {
    .size-guide-scrollbar-container {
      width: 100%;
      height: 340px;
      overflow: hidden;
      position: relative;
    }
  }

 .yotpo .yotpo-bottomline .yotpo-icon-star,.yotpo .yotpo-bottomline .yotpo-icon-half-star,.yotpo .yotpo-bottomline .yotpo-icon-empty-star {
    color:rgb(255,177,22) !important;
 } 

 .yotpo .yotpo-bottomline a.text-m {
    display:none !important;
 }
{% endstylesheet %}

<script
  defer
>
  document.addEventListener('DOMContentLoaded', function () {
    const container = document.querySelector('.size-guide-scrollbar-container');
    const scrollbar = document.querySelector('.size-guide-scrollbar');
    const scrollbarHorizontal = document.querySelector('.size-guide-scrollbar--horizontal');
    const content = document.querySelector('.size-guide-scrollbar-wrapper');
    if (!container || !scrollbar || !scrollbarHorizontal || !content) return;
    const thumb = document.createElement('div');
    const thumbHorizontal = document.createElement('div');

    thumb.classList.add('size-guide-thumb');
    thumbHorizontal.classList.add('size-guide-thumb--horizontal');
    scrollbar.appendChild(thumb);
    scrollbarHorizontal.appendChild(thumbHorizontal);

    let isDragging = false;
    let startY = 0;
    let startScrollTop = 0;
    let startX = 0;
    let startScrollLeft = 0;

    const updateThumb = () => {
      const contentHeight = content.scrollHeight;
      const visibleHeight = content.clientHeight;
      const scrollRatio = visibleHeight / contentHeight;
      const thumbHeight = visibleHeight * scrollRatio;

      const contentWidth = content.scrollWidth;
      const visibleWidth = content.clientWidth;
      const scrollRatioHorizontal = visibleWidth / contentWidth;
      const thumbWidthHorizontal = visibleWidth * scrollRatioHorizontal;

      thumb.style.height = `${thumbHeight}px`;
      thumb.style.top = `${content.scrollTop * scrollRatio}px`;

      thumbHorizontal.style.width = `${thumbWidthHorizontal}px`;
      thumbHorizontal.style.left = `${content.scrollLeft * scrollRatioHorizontal}px`;
    };

    const onDragStart = (e) => {
      isDragging = true;
      startY = e.clientY;
      startScrollTop = content.scrollTop;
      document.body.style.userSelect = 'none';
    };

    const onDrag = (e) => {
      if (!isDragging) return;

      const deltaY = e.clientY - startY;
      const contentHeight = content.scrollHeight;
      const visibleHeight = content.clientHeight;
      const scrollRatio = contentHeight / visibleHeight;

      content.scrollTop = startScrollTop + deltaY * scrollRatio;
    };

    const onDragStartHorizontal = (e) => {
      if (!window.isDraggingHorizontal) return;

      window.isDraggingHorizontal = true;
      startX = e.clientX;
      startScrollLeft = content.scrollLeft;
      document.body.style.userSelect = 'none';
    };

    const onDragHorizontal = (e) => {
      if (!window.isDraggingHorizontal) return;

      const deltaX = e.clientX - startX;
      const contentWidth = content.scrollWidth;
      const visibleWidth = content.clientWidth;
      const scrollRatio = contentWidth / visibleWidth;

      content.scrollLeft = startScrollLeft + deltaX * scrollRatio;
    };

    const onDragEnd = () => {
      isDragging = false;
      window.isDraggingHorizontal  = false;
      document.body.style.userSelect = '';
    };

    const updateThumbVisibility = () => {
      const contentHeight = content.scrollHeight;
      const visibleHeight = content.clientHeight;
      const contentWidth = content.scrollWidth;
      const visibleWidth = content.clientWidth;
    
      if (contentHeight > visibleHeight) {
        thumb.style.display = 'block';
      } else {
        thumb.style.display = 'none';
      }
    
      if (contentWidth > visibleWidth) {
        thumbHorizontal.style.display = 'block';
      } else {
        thumbHorizontal.style.display = 'none';
      }
    };

    thumb.addEventListener('mousedown', onDragStart);
    thumbHorizontal.addEventListener('mousedown', onDragStartHorizontal);
    document.addEventListener('mousemove', onDrag);
    document.addEventListener('mousemove', onDragHorizontal);
    document.addEventListener('mouseup', onDragEnd);

    {% comment %} content.addEventListener('scroll', updateThumb);
    container.addEventListener('mouseenter', updateThumb); {% endcomment %}

    content.addEventListener('scroll', () => {
      updateThumb();
      updateThumbVisibility();
    });
    container.addEventListener('mouseenter', () => {
      updateThumb();
      updateThumbVisibility();
    });

    updateThumb();
    updateThumbVisibility();

    //30-April-2025 : 8698qcy47 Changes Start
    // hiding other duplicate review widget instance
    const widgetElements = document.querySelectorAll('.yotpo-widget-instance');
    if(widgetElements.length > 0 ) {
      widgetElements.forEach((el, index) => {
        el.style = index === 0 ? 'display:block' : 'display:none !important';
      });
    }
    //30-April-2025 : 8698qcy47 Changes End -->
  });

   function scrollToElement(elementId) {
      const element = document.getElementById(elementId);
      // Check if the element exists.
      if (element) {
        // Scroll to the element using the `scrollIntoView` method with smooth behavior.
        element.scrollIntoView({ behavior: 'smooth' });
      } else {
        console.error(`Element with ID "${elementId}" not found.`);
      }
    }
</script>

<section
  id="MainProduct-{{ section.id }}"
  class="page-width section-{{ section.id }}-padding"
  data-section="{{ section.id }}"
>
  {%- capture variant_skus -%}
    {%- for variant in product.variants -%}
      {%- if variant.sku != blank -%}
        {{- variant.sku -}}{%- if forloop.last == false -%},{%- endif -%}
      {%- endif -%}
    {%- endfor -%}
  {%- endcapture -%}

  {% liquid
    comment
      Get the current variant 'Color' and 'Size' from the URL
    endcomment
    assign path_array = request.path | split: '/'
    assign path_array_length = path_array | size
    assign ind = path_array_length | minus: 1
    assign variant_option_array = path_array[ind] | split: ','
    assign variant_option_array_length = variant_option_array | size
    assign selected_colour = ''
    assign selected_size = ''
    if variant_option_array_length > 0
      if variant_option_array[0] contains 'c:'
        assign selected_colour = variant_option_array[0] | replace: 'c:', '' | handleize
      endif
      if variant_option_array[1] contains 's:'
        assign selected_size = variant_option_array[1] | replace: 's:', '' | handleize
      endif
      if variant_option_array[2] contains 's:'
        assign option3 = variant_option_array[2] | replace: 's:', '' | handleize
      endif
    endif

    assign current_variant = product.selected_or_first_available_variant
    if selected_colour != blank and selected_size != blank and option3 != blank
      for variant in product.variants
        assign colour_slug = variant.option1 | handleize
        assign size_slug = variant.option2 | handleize
        assign option3_slug = variant.option2 | handleize
        if colour_slug == selected_colour and size_slug == selected_size and option3_slug == option3
          assign current_variant = variant
        endif
      endfor
    elsif selected_size == ''
      for variant in product.variants
        assign colour_slug = variant.option1 | handleize
        if colour_slug == selected_colour and variant.available
          assign current_variant = variant
        endif
      endfor
    else
      for variant in product.variants
        assign colour_slug = variant.option1 | handleize
        assign size_slug = variant.option2 | handleize
        if colour_slug == selected_colour and size_slug == selected_size
          assign current_variant = variant
        endif
      endfor
    endif

    assign isPersonalized = false
    if current_variant.metafields.custom.personalization_image != blank
      assign isPersonalized = true
    endif
  %}

  {% assign specific_variants = blank %}
  {% if variant_option_array_length > 0 %}
    {% comment %}
      if the first variant option is 'v:' then we need to get the specific variants seperated by ':'
    {% endcomment %}
    {%- if variant_option_array[0] contains 'v:' %}
      {% assign specific_variants = variant_option_array[0] | replace: 'v:', '' | split: ':' %}
      {% assign specific_variants_id = specific_variants[0] | plus: 0 %}
      {% assign current_variant = product.variants | where: 'id', specific_variants_id | first %}

      {%- if variant_option_array[1] contains 'sv:' %}
        {% assign selected_specific_variant_id = variant_option_array[1] | replace: 'sv:', '' | plus: 0 %}
        {% if selected_specific_variant_id != blank %}
          {% assign current_variant = product.variants | where: 'id', selected_specific_variant_id | first %}

          {% liquid
            assign selected_colour = current_variant.option1 | handleize
            assign colour_slug = current_variant.option1 | handleize
            assign size_slug = current_variant.option2 | handleize
            assign option3_slug = current_variant.option2 | handleize
          %}
        {% endif %}
      {%- endif -%}
    {% endif %}
  {% endif %}

  {%- liquid
    assign is_product_bundle = false
    assign bundle_products = ''
    if current_variant.metafields.christy23.bundled_product_variants != blank
      assign is_product_bundle = true
      assign bundle_products = current_variant.metafields.christy23.bundled_product_variants.value
    endif
  -%}

  {% comment %}
    {{ 'component-accordion.css' | asset_url | stylesheet_tag }}
    {{ 'component-price.css' | asset_url | stylesheet_tag }}
    {{ 'component-slider.css' | asset_url | stylesheet_tag }}
    {{ 'component-rating.css' | asset_url | stylesheet_tag }}
    {{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
    {{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}
  {% endcomment %}

  <script src="{{ 'product-info.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'magnify.js' | asset_url }}" defer="defer"></script>

  {%- if request.design_mode -%}
    <script src="{{ 'theme-editor.js' | asset_url }}" defer="defer"></script>
  {%- endif -%}

  {%- assign first_3d_model = product.media | where: 'media_type', 'model' | first -%}
  {%- if first_3d_model -%}
    {{ 'component-product-model.css' | asset_url | stylesheet_tag }}
    <link
      id="ModelViewerStyle"
      rel="stylesheet"
      href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css"
      media="print"
      onload="this.media='all'"
    >
    <link
      id="ModelViewerOverride"
      rel="stylesheet"
      href="{{ 'component-model-viewer-ui.css' | asset_url }}"
      media="print"
      onload="this.media='all'"
    >
  {%- endif -%}

  {% assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src' %}

  <div class="go-back px-4 py-2 flex items-center justify-between md:hidden">
    <button
      onclick="goBack()"
      class="gap-4 text-primary-blue text-sm font-normal flex items-center"
    >
      <span class="w-6 rotate-180">
        {% render 'icon-long-arrow-right' %}
      </span>
      Back
    </button>
  </div>

  {% assign current_url = canonical_url %}
  {% assign current_url = current_url | replace: shop.secure_url, '' %}

  {% comment %}
    start of bundle
  {% endcomment %}
  {%- capture contentForQuerystring -%}{{ content_for_header }}{%- endcapture -%}
  {%- assign pageUrl = contentForQuerystring
    | split: '"pageurl":"'
    | last
    | split: '","'
    | first
    | split: 'isAjax=true'
  -%}

  {% assign bundleData = product.metafields.christyapp.bundleData %}
  {% if bundleData and pageUrl.size == 1 %}
    {% render 'bundle-builder',
      bundleData: bundleData,
      product: product,
      section: section,
      current_variant: current_variant,
      selected_colour: selected_colour
    %}

  {% else %}
    {% comment %}
      end of bundle
    {% endcomment %}

    <div class="product product-main-container px-4 md:grid md:gap-x-[22px] md:container xl:flex">
      <div class="quick-add-mob-product-header">
        <p class="text-lg font-semibold tracking-[.15px] quick-add-mob-product-title">
          {{ product.title | escape }}
        </p>
        <div class="quick-add-mob-product-price" data-dynprice>
          {% if is_product_bundle %}
            {% liquid
              assign bp_compare_at_price = current_variant.compare_at_price
              assign bp_price = current_variant.price
            %}
            {% render 'bundle-price-discount', bp_compare_at_price: bp_compare_at_price, bp_price: bp_price %}
          {% else %}
            {% if product.price_min != product.price_max %}
              <p>
                <strong class="inline-block text-base font-semibold">
                  {{- product.price_min | money }} - {{ product.price_max | money -}}
                </strong>
              </p>
            {% else %}
              <p>
                <strong class="inline-block text-base font-semibold">{{ product.price | money }}</strong>
              </p>
            {% endif %}
          {% endif %}
        </div>
      </div>

      {% if product.media.size > 0 %}
        <div class="product__gallery grid grid-cols-1 xl:grid-cols-[126px_1fr] gap-2 md:top-5 md:sticky xl:flex-1">
          {% render 'product-media-gallery', variant_images: variant_images, current_variant: current_variant, product: product, bundleData: bundleData %}
        </div>
      {% endif %}

      <div class="max-md:pt-7 z-20 product__info-wrapper xl:w-full relative self-start">
        {% if product.collections.size > 0 %}
          <nav class="breadcrumb max-md:hidden" date-url="{{ request.params }}">
            <ul class="flex text-blue-1 gap-x-1 overflow-x-auto no-scrollbar">
              {% assign collectionsCount = product.collections.size %}
              <li class="flex items-center">
                <a href="{{ shop.url }}" class="text-xs font-normal whitespace-nowrap">Home</a>
              </li>
              <li class="flex items-center gap-x-1">/</li>
              {% for collection in product.collections %}
                <li class="flex items-center gap-x-1">
                  <a href="{{ collection.url }}" class="text-xs font-normal whitespace-nowrap">
                    {{- collection.title -}}
                  </a>
                  <span>/</span>
                </li>
                {% break %}
              {% endfor %}
              <li class="select-none">
                <strong class="text-xs font-semibold whitespace-nowrap">{{ product.title }}</strong>
              </li>
            </ul>
          </nav>
        {% endif %}

        <product-info
          data-product-info-main
          id="ProductInfo-{{ section.id }}"
          data-section="{{ section.id }}"
          data-url="{{ product.url }}"
          data-url-actual="{{ current_url }}"
          data-productprice="{{ current_variant.price }}"
          data-featimage="{% if current_variant.featured_media.src != blank %}{{ current_variant.featured_media.src | image_url: width: 200, height: 200 }}{% endif %}"
          data-variantid="{{ current_variant.id }}"
          class="text-blue-1 space-y-6"
        >
          {%- assign product_form_id = 'product-form-' | append: section.id -%}

          <div>
            {%- unless product.has_only_default_variant -%}
              {%- for option in product.options_with_values -%}
                {% assign selectedValue = option.selected_value | handleize %}

                {%- if option.name == 'Colour' or option.name == 'Color' %}
                  <div
                    id="colour-picker-mobile"
                    role="button"
                    class="w-auto absolute top-0 left-0 right-0 -translate-y-full bg-white container md:hidden invisible opacity-0 transition-[opacity,transform,visibility] duration-500"
                    aria-hidden="true"
                  >
                    <div class="flex justify-between py-5 border-b border-blue-1/10 space-x-5">
                      <div class="flex items-center gap-y-1 gap-3 flex-wrap">
                        {% render 'product-variant-options',
                          product: product,
                          option: option,
                          block: block,
                          button_type: true,
                          name_custom: 'mob',
                          selected_colour: selected_colour,
                          selected_size: selected_size,
                          selectedValue: selectedValue,
                          current_variant: current_variant,
                          specific_variants: specific_variants
                        %}
                      </div>
                      <span class="current-variation font-light whitespace-nowrap">
                        {{ option.name }}:
                        <strong data-varcurrent="{{ option.name }}">
                          {{ current_variant.option1 }}
                        </strong>
                      </span>
                    </div>
                  </div>
                  {% break %}
                {%- endif -%}
              {%- endfor -%}
            {%- endunless -%}

            <div
              id="product-panel"
              class="max-md:bg-white/90 transition-colors product-panel"
            >
              <div id="product-panel-child" class="space-y-6 max-md:flex max-md:flex-col max-md:items-stretch">
                <header class="product-header space-y-2 md:space-y-4">
                  <h1 class="text-[22px] font-normal md:text-2xl md:leading-7 md:font-semibold">
                    {{ product.title | escape }}
                  </h1>
                </header>

                <div class="flex gap-3 justify-between items-center !mt-2 md:!mt-4">
                  <div class="product-dynprice" data-dynprice>
                    {% if is_product_bundle %}
                      {% liquid
                        assign bp_compare_at_price = current_variant.compare_at_price
                        assign bp_price = current_variant.price
                      %}
                      {% render 'bundle-price-discount', bp_compare_at_price: bp_compare_at_price, bp_price: bp_price %}
                    {% else %}
                      {% if product.price_min != product.price_max %}
                        <p>
                          <strong class="inline-block text-base font-semibold">
                            {{- product.price_min | money }} - {{ product.price_max | money -}}
                          </strong>
                        </p>
                      {% else %}
                        <p>
                          <strong class="inline-block text-base font-semibold">{{ product.price | money }}</strong>
                        </p>
                      {% endif %}
                    {% endif %}
                  </div>
                  {% comment %} 
                  <div
                    class="ruk_rating_snippet pt-[3px]"
                    data-sku="{{ product.handle }};{{ product.variants | map: 'sku' | join: ';' }};{{ product.variants | map: 'id' | join: ';' }}"
                  ></div>
                  {% endcomment %}
                  <div class="yotpo bottomLine" id="yotpoProductStartRating" onClick="scrollToElement('yotpoProductReviews')" data-product-id="{{ product.id }}"></div> 
                </div>

                {%- unless product.has_only_default_variant -%}
                  <div
                    data-moboptions="true"
                    class="product-moboptions md:!h-auto overflow-hidden !mt-0 md:!mt-6 max-md:pt-6"
                  >
                    <div>
                      {% render 'product-variant-picker',
                        product: product,
                        product_form_id: product_form_id,
                        selected_colour: selected_colour,
                        selected_size: selected_size,
                        current_variant: current_variant,
                        specific_variants: specific_variants
                      %}
                    </div>
                  </div>
                {%- endunless -%}

                {% if product.metafields.custom.product_specification != blank %}
                  <div id="sideguidewrap" class="hidden">
                    <a href="#sizeguide" aria-label="Go to sizeguide" class="btn-tertiary" data-sizeguideto
                      >View Size Guide</a
                    >
                  </div>
                {% endif %}

                {% assign aplus_variants = current_variant.metafields.custom.a_plus_variants.value %}
                {% assign show_a_plus = true %}
                {% assign aplus_price = 0 %}
                {% for vars in aplus_variants %}
                  {% assign v_price = 0 %}
                  {% if vars.variant.value.inventory_quantity > 0
                    and vars.variant.value.inventory_quantity < vars.quantity
                  %}
                    {% assign show_a_plus = false %}
                    {% break %}
                  {% endif %}
                  {% assign v_price = vars.variant.value.price | times: vars.quantity %}
                  {% assign v_image = vars.variant.value.featured_media | default: vars.variant.value.product.featured_media %}
                  {% assign aplus_price = aplus_price | plus: v_price %}
                {% endfor %}

                <div class="flex flex-col md:!mt-0 upsell-products-wrap">
                  {% if product.metafields.custom.gift_box_product != blank %}
                    {% assign gift_box_product = product.metafields.custom.gift_box_product.value %}
                    {% assign gift_box_variant = gift_box_product.variants | first %}
                    {% assign gb_v_image = gift_box_variant.featured_media %}
                    <div>
                      <label class="upsell-product-card mb-4">
                        <input
                          data-gift-product-input
                          data-gift-for-product="{{ product.title }}"
                          data-gift-variant="{{ gift_box_variant.id }}"
                          type="checkbox"
                          hidden
                          class="peer"
                        >
                        <div class="upsell-product-card_checkbox text-white peer-checked:text-inherit">
                          {% render 'icon-checkmark' %}
                        </div>

                        {%- render 'lazyimg',
                          loading: 'eager',
                          img: gb_v_image,
                          width: 80,
                          height: 80,
                          widths: '80, 160',
                          class: 'upsell-product-card_image',
                          sizes: '80px'
                        -%}

                        {{- gift_box_product.title }}

                        <span class="upsell-product-card_price">{{ gift_box_variant.price | money -}}</span>
                      </label>
                      <div class="bg-primary-white-cotton p-4 hidden" data-gift-box-form>
                        <form data-gift-box-form action="" class="gift-box-form">
                          <input type="text" name="recipient" placeholder="Recipient">
                          <input type="text" name="sender" placeholder="Sender">
                          <textarea
                            name="message"
                            id="giftBoxMessage"
                            placeholder="Add a personalised gift message"
                            rows="3"
                            class="col-span-2 resize-none"
                            maxlength="200"
                          ></textarea>
                        </form>
                        <div class="message-counter text-end text-[11px] font-semibold" id="giftBoxMessageCount">0 / 200</div>
                      </div>
                    </div>
                  {% endif %}
                  {% if current_variant.metafields.custom.a_plus_display_text != blank and show_a_plus == true %}
                    <div id="aplusproducts">
                        <label for="aplusproducts-cb" class="upsell-product-card mb-4">
                          <div id="aplusFakeCheckbox" class="upsell-product-card_checkbox text-white">
                            {% render 'icon-checkmark' %}
                          </div>

                          {%- render 'lazyimg',
                            loading: 'eager',
                            img: v_image,
                            width: 80,
                            height: 80,
                            widths: '80, 160',
                            class: 'upsell-product-card_image',
                            sizes: '80px'
                          -%}

                          {{- current_variant.metafields.custom.a_plus_display_text }}

                          <span class="upsell-product-card_price">{{ aplus_price | money -}}</span>
                        </label>
                    </div>
                  {% endif %}
                  {% if isPersonalized and current_variant.metafields.custom.personalization_image != blank %}
                    {% if isPersonalized %}
                      {% assign perProd = all_products['product-personalization'] %}
                      {% assign perProdPrice = perProd.price %}

                      <div
                        id="personalization_init_button"
                        class="personalization_init_button mb-4"
                      >
                        <div
                          class="clicker  upsell-product-card"
                          onclick="showHideDrawer(this)"
                        >
                          <product-upsell-personalize data-product-id="{{ product.id }}">
                            <label class="upsell-product-card_checkbox">
                              <input data-p-checkbox type="checkbox" hidden class="peer">
                              {% render 'icon-checkmark', class: 'peer-checked:text-inherit text-white' %}
                            </label>
                          </product-upsell-personalize>
                          {%- assign found_image = false -%}
                          {%- for collection in product.collections -%}
                            {%- if found_image == false -%}
                              {%- assign image_metafield = collection.metafields.custom.personalized_product_image -%}
                              {%- if image_metafield -%}
                                <img src="{{ image_metafield | image_url: width: 80, height: 80 }}" loading="eager" class="upsell-product-card_image" alt="Personalized image for {{ collection.title }}">
                                {%- assign found_image = true -%}
                              {%- endif -%}
                            {%- endif -%}
                          {%- endfor -%}
                          {%- unless found_image -%}
                            {%- render 'lazyimg',
                              loading: 'eager',
                              img: perProd.featured_image,
                              width: 80,
                              height: 80,
                              widths: '80, 160',
                              class: 'upsell-product-card_image',
                              sizes: '80px'
                            -%}
                          {%- endunless -%}
                          <span>Personalise your product</span>
                          <span class="upsell-product-card_price">
                            {{ perProdPrice | money }}
                            <span class="underline underline-offset-4 ml-[2px]">+Add</span>
                          </span>
                        </div>
                      </div>
                    {% elsif template contains 'personalized' %}
                      <div
                        id="personalization_init_button"
                        class="personalization_init_button d-h5 flex w-full items-center md:cursor-pointer max-md:text-[14px] variant-label my-4"
                      >
                        Personalisation Not Allowed for this Variant
                      </div>
                    {% endif %}
                  {% endif %}
                </div>

                {% if is_product_bundle %}
                  <div id="bundle-selector-wrap">
                    {%- render 'product-bundle-selector',
                      bundle_products: bundle_products,
                      product: product,
                      current_variant: current_variant
                    -%}
                  </div>
                {% endif %}

                {%- if product.gift_card? -%}
                  {%- render 'gift-card-recipient-form',
                    product: product,
                    section: section,
                    block: block,
                    current_variant: current_variant,
                    product_form_id: product_form_id,
                    section_id: section.id,
                    show_pickup_availability: true
                  -%}
                {%- endif -%}

                <div
                  id="buy-buttons-wrap"
                  class="!mt-0 buy-buttons-wrap max-md:bg-white max-md:left-0 max-md:bottom-0 z-10 max-md:w-full "
                >
                  {%- render 'buy-buttons',
                    block: block,
                    product: product,
                    current_variant: current_variant,
                    product_form_id: product_form_id,
                    section_id: section.id,
                    show_pickup_availability: true
                  -%}
                </div>
              </div>
            </div>
          </div>

          <div class="space-y-6 product-info-accordions">
            {%- for block in section.blocks -%}
              {%- case block.type -%}
                {%- when '@app' -%}
                  {% render block %}
                {%- when 'text' -%}
                  <p
                    class="product__text inline-richtext{% if block.settings.text_style == 'uppercase' %} caption-with-letter-spacing{% elsif block.settings.text_style == 'subtitle' %} subtitle{% endif %}"
                    {{ block.shopify_attributes }}
                  >
                    {{- block.settings.text -}}
                  </p>

                {%- when 'quantity_selector' -%}
                  <div
                    id="Quantity-Form-{{ section.id }}"
                    class="product-form__input product-form__quantity{% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_vertical_offset < 0 %} product-form__quantity-top{% endif %}"
                    {{ block.shopify_attributes }}
                  >
                    {% comment %} TODO: enable theme-check once `item_count_for_variant` is accepted as valid filter {% endcomment %}
                    {% # theme-check-disable %}
                    {%- assign cart_qty = cart
                      | item_count_for_variant: product.selected_or_first_available_variant.id
                    -%}
                    {% # theme-check-enable %}
                    <label class="quantity__label form__label" for="Quantity-{{ section.id }}">
                      {{ 'products.product.quantity.label' | t }}
                      <span class="quantity__rules-cart no-js-hidden{% if cart_qty == 0 %} hidden{% endif %}">
                        <span class="loading-overlay hidden">
                          <span class="loading-overlay__spinner">
                            <svg
                              aria-hidden="true"
                              focusable="false"
                              class="spinner"
                              viewBox="0 0 66 66"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                            </svg>
                          </span>
                        </span>
                        <span
                          >(
                          {{- 'products.product.quantity.in_cart_html' | t: quantity: cart_qty -}}
                          )</span
                        >
                      </span>
                    </label>
                    <quantity-input class="quantity">
                      <button class="quantity__button no-js-hidden" name="minus" type="button">
                        <span class="visually-hidden">
                          {{- 'products.product.quantity.decrease' | t: product: product.title | escape -}}
                        </span>
                        {% render 'icon-minus' %}
                      </button>
                      <input
                        class="quantity__input"
                        type="number"
                        name="quantity"
                        id="Quantity-{{ section.id }}"
                        data-cart-quantity="{{ cart_qty }}"
                        data-min="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                        min="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                        {% if product.selected_or_first_available_variant.quantity_rule.max != null %}
                          data-max="{{ product.selected_or_first_available_variant.quantity_rule.max }}"
                          max="{{ product.selected_or_first_available_variant.quantity_rule.max }}"
                        {% endif %}
                        step="{{ product.selected_or_first_available_variant.quantity_rule.increment }}"
                        value="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                        form="{{ product_form_id }}"
                      >
                      <button class="quantity__button no-js-hidden" name="plus" type="button">
                        <span class="visually-hidden">
                          {{- 'products.product.quantity.increase' | t: product: product.title | escape -}}
                        </span>
                        {% render 'icon-plus' %}
                      </button>
                    </quantity-input>
                    <div class="quantity__rules caption no-js-hidden">
                      {%- if product.selected_or_first_available_variant.quantity_rule.increment > 1 -%}
                        <span class="divider">
                          {{-
                            'products.product.quantity.multiples_of'
                            | t: quantity: product.selected_or_first_available_variant.quantity_rule.increment
                          -}}
                        </span>
                      {%- endif -%}
                      {%- if product.selected_or_first_available_variant.quantity_rule.min > 1 -%}
                        <span class="divider">
                          {{-
                            'products.product.quantity.minimum_of'
                            | t: quantity: product.selected_or_first_available_variant.quantity_rule.min
                          -}}
                        </span>
                      {%- endif -%}
                      {%- if product.selected_or_first_available_variant.quantity_rule.max != null -%}
                        <span class="divider">
                          {{-
                            'products.product.quantity.maximum_of'
                            | t: quantity: product.selected_or_first_available_variant.quantity_rule.max
                          -}}
                        </span>
                      {%- endif -%}
                    </div>
                  </div>
                {%- when 'popup' -%}
                  <modal-opener
                    class="product-popup-modal__opener no-js-hidden quick-add-hidden"
                    data-modal="#PopupModal-{{ block.id }}"
                    {{ block.shopify_attributes }}
                  >
                    <button
                      id="ProductPopup-{{ block.id }}"
                      class="product-popup-modal__button link"
                      type="button"
                      aria-haspopup="dialog"
                    >
                      {{ block.settings.text | default: block.settings.page.title }}
                    </button>
                  </modal-opener>
                  <a href="{{ block.settings.page.url }}" class="product-popup-modal__button link no-js">
                    {{- block.settings.text -}}
                  </a>
                {%- when 'share' -%}
                  {% assign share_url = product.selected_variant.url | default: product.url | prepend: request.origin %}
                  {% render 'share-button', block: block, share_link: share_url %}

                {%- when 'rating' -%}
                  {%- if product.metafields.reviews.rating.value != blank -%}
                    {% liquid
                      assign rating_decimal = 0
                      assign decimal = product.metafields.reviews.rating.value.rating | modulo: 1
                      if decimal >= 0.3 and decimal <= 0.7
                        assign rating_decimal = 0.5
                      elsif decimal > 0.7
                        assign rating_decimal = 1
                      endif
                    %}
                    <div
                      class="rating"
                      role="img"
                      aria-label="{{ 'accessibility.star_reviews_info' | t: rating_value: product.metafields.reviews.rating.value, rating_max: product.metafields.reviews.rating.value.scale_max }}"
                    >
                      <span
                        aria-hidden="true"
                        class="rating-star"
                        style="--rating: {{ product.metafields.reviews.rating.value.rating | floor }}; --rating-max: {{ product.metafields.reviews.rating.value.scale_max }}; --rating-decimal: {{ rating_decimal }};"
                      ></span>
                    </div>
                    <p class="rating-text caption">
                      <span aria-hidden="true">
                        {{- product.metafields.reviews.rating.value }} /
                        {{ product.metafields.reviews.rating.value.scale_max -}}
                      </span>
                    </p>
                    <p class="rating-count caption">
                      <span aria-hidden="true">({{ product.metafields.reviews.rating_count }})</span>
                      <span class="visually-hidden">
                        {{- product.metafields.reviews.rating_count }}
                        {{ 'accessibility.total_reviews' | t -}}
                      </span>
                    </p>
                  {%- endif -%}

                {%- when 'icon-with-text' -%}
                  {% render 'icon-with-text', block: block %}
                {%- when 'accordion' %}
                  <div
                    class="!my-0 py-5 lg:py-7 border-b border-blue-1/10 group/acc"
                    {{ block.shopify_attributes }}
                  >
                    <h4
                      data-acc
                      class="font-semibold m-body-copy lg:d-h5 space-x-6 flex w-full items-center cursor-pointer"
                    >
                      <span class="mr-auto">{{ block.settings.title }}</span>
                      <span
                        class="acc-toggle"
                      ></span>
                    </h4>
                    <div class="gap-3 flex-wrap pt-5 lg:pt-7 clear-left hidden group-[.open]/acc:!flex group-[.open]/acc:opacity-100 opacity-0 transition-opacity delay-[0.5s]">
                      <div class="wysiwyg flex-1">
                        {{ block.settings.content }}
                        {{ block.settings.html }}

                        {% if block.settings.button_link and block.settings.button_label %}
                          <div>
                            <a class="btn-tertiary" href="{{ block.settings.button_link }}">
                              {{- block.settings.button_label -}}
                            </a>
                          </div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
              {%- endcase -%}
            {%- endfor -%}

            {% comment %}
              Description
            {% endcomment %}
            {% if product.description != blank %}
              <div
                id="Description"
                class="product-expanded !my-0 mt-6 border-b border-blue-1/10 group/acc open scroll-mt-[--header-height-lg,100]"
              >
                <h4
                  data-acc
                  class="font-semibold text-base m-body-copy py-5 space-x-6 flex w-full items-center cursor-pointer"
                >
                  <span class="mr-auto">Description</span>
                  <span
                    class="acc-toggle w-3.5 h-3.5"
                  ></span>
                </h4>
                <div class="gap-3 flex-wrap pb-6 md:pb-4 clear-left hidden group-[.open]/acc:!flex group-[.open]/acc:opacity-100 opacity-0 transition-opacity delay-[0.5s]">
                  <div class="flex-1 text-sm space-y-3.5 font-normal [&>div>img]:h-[19px]">
                    {{ product.description }}
                  </div>
                </div>
              </div>
            {% endif %}
            {% comment %}
              END Description
            {% endcomment %}

            {% comment %}
              Specification
            {% endcomment %}
            {% if product.metafields.christy23.product_specification != blank %}
              <div
                class="product-expanded !my-0 border-b border-blue-1/10 group/acc"
              >
                <h4
                  data-acc
                  class="font-semibold text-base m-body-copy py-6 space-x-6 flex w-full items-center cursor-pointer"
                >
                  <span class="mr-auto">Specifications</span>
                  <span
                    class="acc-toggle w-3.5 h-3.5"
                  ></span>
                </h4>
                <div class="gap-3 flex-wrap pb-6 md:pb-4 clear-left hidden group-[.open]/acc:!flex group-[.open]/acc:opacity-100 opacity-0 transition-opacity delay-[0.5s]">
                  <div class="flex-1 text-sm space-y-3.5 font-normal">
                    {{ product.metafields.christy23.product_specification | metafield_tag }}
                  </div>
                </div>
              </div>
            {% endif %}
            {% comment %}
              END Specification
            {% endcomment %}

            {% comment %}
              Care Guide
            {% endcomment %}
            {% if product.metafields.christy23.care_guide != blank %}
              <div
                class="product-expanded !my-0 border-b border-blue-1/10 group/acc"
              >
                <h4
                  data-acc
                  class="font-semibold text-base py-6 m-body-copy space-x-6 flex w-full items-center cursor-pointer"
                >
                  <span class="mr-auto">Care Guide</span>
                  <span
                    class="acc-toggle w-3.5 h-3.5"
                  ></span>
                </h4>
                <div class="gap-3 flex-wrap pb-6 md:pb-4 clear-left hidden group-[.open]/acc:!flex group-[.open]/acc:opacity-100 opacity-0 transition-opacity delay-[0.5s]">
                  <div class="flex-1 text-sm space-y-3.5 font-normal">
                    {{ product.metafields.christy23.care_guide | metafield_tag }}
                  </div>
                </div>
              </div>
            {% endif %}
            {% comment %}
              END Care Guide
            {% endcomment %}

            {% comment %}
              Delivery & Returns
            {% endcomment %}
            {% if settings.product_delivery_returns != blank or product.metafields.custom.delivery_returns != blank %}
              <div
                id="DeliveryReturns"
                class="product-expanded !my-0 border-b border-blue-1/10 group/acc scroll-mt-[--header-height-lg,100]"
              >
                <h4
                  data-acc
                  class="font-semibold text-base m-body-copy py-6 space-x-6 flex w-full items-center cursor-pointer"
                >
                  <span class="mr-auto">Delivery & Returns</span>
                  <span
                    class="acc-toggle w-3.5 h-3.5"
                  ></span>
                </h4>
                <div class="gap-3 flex-wrap pb-6 md:pb-4 clear-left hidden group-[.open]/acc:!flex group-[.open]/acc:opacity-100 opacity-0 transition-opacity delay-[0.5s]">
                  <div class="flex-1 text-sm space-y-3.5 font-normal">
                    {% if product.metafields.custom.delivery_returns != blank %}
                      {{ product.metafields.custom.delivery_returns }}
                    {% else %}
                      {{ settings.product_delivery_returns }}
                    {% endif %}
                  </div>
                </div>
              </div>
            {% endif %}
            {% comment %}
              END Delivery & Returns
            {% endcomment %}
          </div>
        </product-info>
        {% render 'sticky-bar',
          block: block,
          product: product,
          current_variant: current_variant,
          variant_images: variant_images,
          product_form_id: product_form_id,
          section_id: section.id,
          show_pickup_availability: true
        %}
      </div>

      {% if product.metafields.custom.size_guide != blank or product.metafields.custom.product_specification != blank %}
        <aside
          data-modal="sizeguide"
          class="modal fixed w-fit max-lg:max-w-[80%] h-fit inset-0 !mx-auto my-auto bg-white z-50 opacity-0 invisible transition-[opacity,visibility] duration-500 [&.active]:opacity-100 [&.active]:visible"
        >
          <div
            class="container p-6 relative space-y-10 h-auto max-h-[400px] md:max-h-[600px] flex flex-col after:w-[40px] after:h-full after:bg-gradient-to-l after:to-transparent after:from-white after:absolute after:right-0 after:top-0"
            data-sizeguide
            id="sizeguide"
          >
            <h4
              data-acc
              class="m-h1 lg:s-d-h4"
            >
              <span>Size Guide</span>
            </h4>

            <div class="size-guide-scrollbar-container z-[1]">
              <div class="size-guide-scrollbar-wrapper">
                <div class="whitespace-nowrap wysiwyg [&>p]:!mt-0 [&_table]:bg-white text-sm pr-1">
                  {% if product.metafields.custom.size_guide != blank %}
                    {{ product.metafields.custom.size_guide }}
                  {% elsif product.metafields.custom.product_specification != blank %}
                    {{ product.metafields.custom.product_specification }}
                  {% endif %}
                </div>
              </div>
              <div class="size-guide-scrollbar"></div>
              <div class="size-guide-scrollbar--horizontal"></div>
            </div>
          </div>
          <div class="absolute top-0 right-0">
            <button data-modalclose="sizeguide" class="p-8">{% render 'icon-close' %}</button>
          </div>
        </aside>
        <div
          id="overlay"
          class="invisible opacity-0 fixed inset-0 bg-black/25 !m-0 z-40 transition-[opacity,visibility] duration-500 [&.active]:opacity-100 [&.active]:visible"
        ></div>
      {% endif %}
    </div>

    <div
      class="qt-info-content-fullwith-block-productpage-wrapper"
      style="width:100%;max-width: 1350px; margin:auto; display:block;"
    >
      {% for block in product.metafields.custom.info_content_fullwidth_pdp_block.value %}
        <div class="qt-info-content-fullwith-block-productpage" style="margin-top:60px; object-fit:fill;">
          {% render 'info-content-block-fullwidth', block: block %}
        </div>
      {% endfor %}
    </div>
  {% endif %}

  {% if product.metafields.custom.super_fluffy != blank %}
    <div class="super-fluffy pt-12">
      <div
          class="splide group/splide"
          data-splide='
            {"arrows": true, "pagination": false, "type": "fade", "gap": "0", "autoWidth": false, "breakpoints": {
              "768": {
                "gap": "0"
              }
            }}
          '
      >
        <div class="splide__track !overflow-visible bg-primary-white-cotton   z-10">
          <div class="splide__list text-blue-1 flex group-[.is-initialized]/splide:!block">
            {%- for super_fluffy in product.metafields.custom.super_fluffy.value -%}
              <div class="splide__slide !transition-none !translate-x-0">
                {% render 'super-fluffy',
                    id: super_fluffy.system.id,
                    media: super_fluffy.media,
                    media_mobile: super_fluffy.media_mobile,
                    title: super_fluffy.title,
                    subtitle: super_fluffy.subtitle,
                    title_font_size_mobile: super_fluffy.title_font_size_mobile,
                    title_font_size_desktop: super_fluffy.title_font_size_desktop,
                    subtitle_font_size_mobile: super_fluffy.subtitle_font_size_mobile,
                    subtitle_font_size_desktop: super_fluffy.subtitle_font_size_desktop,
                    text_color_mobile: super_fluffy.text_color_mobile,
                    text_color_desktop: super_fluffy.text_color_desktop,
                    alignment: super_fluffy.alignment,
                    button_text: super_fluffy.button_text,
                    button_url: super_fluffy.button_link,
                    button_color: super_fluffy.button_color
                %}
              </div>
            {%- endfor -%}
          </div>
        </div>

        <div class="splide__arrows hidden"></div>
        {% if product.metafields.custom.super_fluffy.value.count > 1 %}
          <div class="container container-sm max-md:px-4 mt-4 space-y-3 w-full md:w-auto">
            <!-- progress bar -->
            <div class="bg-secondary-blue-100 slider-progress h-px flex items-center">
              <div class="bg-secondary-blue-600 h-px transition-all w-0 lg:h-0.5 slider-progress-bar"></div>
            </div>

            <!-- arrows -->
            <div class="splide__arrows splide__arrows--ltr hidden group-[.is-initialized]/splide:!flex justify-center items-center relative">
              <!-- counter -->
              <div class="text-xs">
                  <span data-splide-current-page class="data-[splide-is-last-page=true]:text-secondary-blue-200"
                  >1</span
                  >
                /
                <span data-splide-total-pages class="text-secondary-blue-200"></span>
              </div>
              <div class="flex items-center absolute right-0">
                <button
                    class="
                      splide__arrow splide__arrow--prev disabled:!text-secondary-blue-200 transition-colors !bg-transparent
                      !static !transform-none outline-none
                    "
                    type="button"
                    aria-label="Previous slide"
                    aria-controls="splide01-track"
                >
                  {%- render 'icon-long-arrow-right', class: '!w-6 !h-6' -%}
                </button>

                <button
                    class="
                      splide__arrow splide__arrow--next disabled:!text-secondary-blue-200 transition-colors
                      !bg-transparent !static !transform-none outline-none
                    "
                    type="button"
                    aria-label="Next slide"
                    aria-controls="splide01-track"
                >
                  {%- render 'icon-long-arrow-right', class: '!w-6 !h-6' -%}
                </button>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  {% endif %}

  <script src="{{ 'main-product.js' | asset_url }}" defer></script>
  <script src="{{ 'ProductUpsellPersonalize.js' | asset_url }}" defer></script>
  {% comment %} <script src="{{ 'share-button.js' | asset_url }}" defer></script> {% endcomment %}
  <script src="{{ 'back-button.js' | asset_url }}" defer></script>
  <script src="{{ 'sizeguide-modal.js' | asset_url }}" defer></script>
  <script src="{{ 'sticky-bar.js' | asset_url }}" defer></script>

  {%- liquid
    if current_variant.featured_media
      assign seo_media = current_variant.featured_media
    else
      assign seo_media = product.featured_media
    endif
  -%}

  <script>
    isGiftProduct = {{ product.gift_card? | json }};
  </script>

  <script type="application/ld+json" id="productJson">
      {
        "@context": "http://schema.org/",
        "@type": "Product",
        "name": {{ product.title | json }},
        "url": {{ request.origin | append: product.url | json }},
      {% if seo_media -%}
          "image": [
            {{ seo_media | image_url: width: 1920 | prepend: "https:" | json }}
          ],
        {%- endif %}
      "description": {{ product.description | strip_html | json }},
      {% if current_variant.sku != blank -%}
          "sku": {{ current_variant.sku | json }},
        {%- endif %}
      "brand": {
        "@type": "Brand",
        "name": {{ product.vendor | json }}
      },
      "price": {{ current_variant.price | divided_by: 100.00 }},
        "is_variant": {{ product.selected_variant.id | json }},
        "offers": [
      {%- for variant in product.variants -%}
            {
              "@type" : "Offer",
              {%- if variant.sku != blank -%}
                "sku": {{ variant.sku | json }},
              {%- endif -%}
        {%- if variant.barcode.size == 12 -%}
                "gtin12": {{ variant.barcode }},
              {%- endif -%}
        {%- if variant.barcode.size == 13 -%}
                "gtin13": {{ variant.barcode }},
              {%- endif -%}
        {%- if variant.barcode.size == 14 -%}
                "gtin14": {{ variant.barcode }},
              {%- endif -%}
              "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
              "price" : {{ variant.price | divided_by: 100.00 | json }},
              "priceCurrency" : {{ cart.currency.iso_code | json }},
              "url" : {{ request.origin | append: variant.url | json }}
            }{% unless forloop.last %},{% endunless %}
      {%- endfor -%}
      ]
    }
  </script>

  <script>
    const textArea = document.getElementById("giftBoxMessage");
    const charCount = document.getElementById("giftBoxMessageCount");

    textArea.addEventListener("input", () => {
        charCount.textContent = `${textArea.value.length} / 200`;
    });
  </script>

  {% if isPersonalized %}
    <link rel="stylesheet" href="{{ 'personalization.css' | asset_url }}" media="all">
    {% render 'personalize',
      block: block,
      product: product,
      current_variant: current_variant,
      product_form_id: product_form_id,
      section_id: section.id,
      show_pickup_availability: true
    %}
  {% endif %}
</section>

{% assign metaObj_special = product.metafields.custom.what_makes_us_special_section.value %}

{% if metaObj_special.t_itle %}
  <section class="section-banner mt-6 md:mt-12 !mb-0">
    {% liquid
      assign widths = '375, 550, 750, 1000'
      assign sizes = '100vw'
      assign class = 'object-contain inset-0 opacity-0 max-w-full'
    %}

    {% assign img_width = 500 %}
    {% assign img_height = 550 %}

    <div class="">
      <div class="container container-sm">
        <header class="flex gap-12 max-md:flex-col items-start md:items-center">
          {% if metaObj_special.t_itle %}
            <h2 class="text-[30px] font-sec lg:s-d-h1">{{ metaObj_special.t_itle }}</h2>
          {% endif %}

          {% if metaObj_special.collection_button_title.value and metaObj_special.collection_button_url.value.url %}
            <a class="btn-secondary btn-medium" href="{{ metaObj_special.collection_button_url.value.url }}">
              {{- metaObj_special.collection_button_title.value -}}
            </a>
          {% endif %}
        </header>

        <div class="grid gap-8 lg:gap-16 my-6 md:mt-[30px] md:mb-0 md:grid-cols-[minmax(auto,500px),auto]">
          <div class="space-y-5 lg:space-y-10">
            {% if metaObj_special.section_image.value != blank %}
              {%- render 'lazyimg',
                img: metaObj_special.section_image.value,
                width: img_width,
                height: img_height,
                widths: widths,
                class: class,
                sizes: sizes,
                crop: 'center'
              -%}
            {% endif %}

            {% if metaObj_special.note.value %}
              <p>
                {{ metaObj_special.note.value }}
              </p>
            {% endif %}
          </div>
          <div class="flex items-center">
            <div class="animation an-fadeup grid lg:grid-cols-2 gap-8 lg:gap-16 md:p-8 lg:p-16 flex-1">
              {% for val in metaObj_special.benefits.value %}
                <div class="space-y-3 lg:space-y-5">
                  <div class="space-y-1">
                    {% if val.title %}
                      <h4 class="s-m-h3 lg:s-d-h3 !font-bold">{{ val.title }}</h4>
                    {% endif %}
                    {% if val.copy %}
                      <div class="wysiwyg">{{ val.copy | metafield_tag }}</div>
                    {% endif %}
                  </div>
                </div>
              {%- endfor -%}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endif %}

{% schema %}
{
  "name": "t:sections.main-product.name",
  "tag": "section",
  "class": "section section-main-product-js",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "text",
      "name": "t:sections.main-product.blocks.text.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "default": "Text block",
          "label": "t:sections.main-product.blocks.text.settings.text.label"
        }
      ]
    },
    {
      "type": "quantity_selector",
      "name": "t:sections.main-product.blocks.quantity_selector.name",
      "limit": 1
    },

    {
      "type": "accordion",
      "name": "Accordion",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "default": "Title",
          "label": "Accordion Title",
          "info": "Enter Accordion Title"
        },
        {
          "type": "richtext",
          "id": "content",
          "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>",
          "label": "Content",
          "info": "Enter Accordion Body Content"
        },
        {
          "type": "html",
          "id": "html",
          "label": "HTML",
          "info": "Used for adding HTML.  A TABLE for example."
        },
        {
          "type": "header",
          "content": "Button Settings"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Link (Optional)",
          "info": "Enter a link, this sits below content"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button Label (Optional)",
          "info": "Enter a label for the button"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "bundle-discount-template",
      "label": "Bundle Discount Template",
      "default": "Save *discount*% with our curated bundleseach piece customised by you",
      "info": "The template for the bundle discount display. Use *discount* for the discount percentage"
    }
  ]
}
{% endschema %}

{% unless theme.role == 'development' %}
  {% render 'cross-sell' %}
{% endunless %}
