{{ 'splide.min.css' | asset_url | stylesheet_tag }}
<div
  id="FeaturedBlogs-{{ section.id }}"
  class="overflow-hidden"
>
  <div class="container space-y-5 lg:space-y-8">
    <div
      class="splide group/splide space-y-5 lg:space-y-8"
      data-splide='
        {"arrows": true, "pagination": false, "type": "slide", "gap": "40px", "autoWidth": true, "focus": 0, "omitEnd": true, "breakpoints": {
          "768": {
            "gap": "20px"
          }
        }}
      '
    >
      <header class="flex gap-12 max-md:flex-col md:items-center">
        {% if section.settings.title != blank %}
          <h2 class="block-title text-blue-1">{{ section.settings.title }}</h2>
        {% endif %}

        <div class="flex flex-1 justify-between items-center">
          {% if section.settings.button_title and section.settings.button_link %}
            <a class="btn-secondary btn-medium" href="{{ section.settings.button_link }}">
              {{- section.settings.button_title -}}
            </a>
          {% endif %}

          <div class="splide__arrows splide__arrows--ltr hidden group-[.is-initialized]/splide:!flex justify-end  !-mr-[15px] !ml-auto">
            <button
              class="splide__arrow splide__arrow--prev !w-10 !h-10 disabled:!opacity-0 transition-opacity !bg-transparent !static !transform-none outline-none"
              type="button"
              aria-label="Previous slide"
              aria-controls="splide01-track"
            >
              <svg class="w-full" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path class="fill-blue-1" d="M7.33 24l-2.83-2.829 9.339-9.175-9.339-9.167 2.83-2.829 12.17 11.996z"/>
              </svg>
            </button>
            <button
              class="splide__arrow splide__arrow--next !w-10 !h-10 disabled:!opacity-0 transition-opacity !bg-transparent !static !transform-none outline-none"
              type="button"
              aria-label="Next slide"
              aria-controls="splide01-track"
            >
              <svg class="w-full" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path class="fill-blue-1" d="M7.33 24l-2.83-2.829 9.339-9.175-9.339-9.167 2.83-2.829 12.17 11.996z"/>
              </svg>
            </button>
          </div>
        </div>
      </header>

      <div class="splide__track !overflow-visible">
        <div class="splide__list text-blue-1">
          {% for car_product in section.settings.products -%}
            {% assign collection = block.settings.collection %}
            {% assign theimage = blank %}

            {% liquid
              assign span_class = 'w-[245px] lg:w-[327px]'
            %}
            <div class="splide__slide {{ span_class }}">
              {% render 'card-product', card_product: car_product, section_id: section.id %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% style %}
  {%- if section.settings.title_font_size_mob != blank -%}
  #shopify-section-{{ section.id }} .block-title {
    font-size: {{ section.settings.title_font_size_mob }}px;
  }
  {%- endif -%}

  {%- if section.settings.title_font_weight != blank -%}
  #shopify-section-{{ section.id }} .block-title {
    font-weight: {{ section.settings.title_font_weight }};
  }
  {%- endif -%}

  {%- if section.settings.title_font_family != blank and section.settings.title_font_family == 'serif' -%}
  #shopify-section-{{ section.id }} .block-title {
    font-family: "Hatton", serif;
  }
  {%- endif -%}

  {% if section.settings.screen_visibility == 'mobile' %}
    @media all and (min-width: 768px ) {
        #shopify-section-{{ section.id }} {
            display: none !important;
        }
    }
  {% endif %}

  {% if section.settings.screen_visibility == 'desktop' %}
    @media all and (max-width: 767px ) {
        #shopify-section-{{ section.id }} {
            display: none !important;
        }
    }
  {% endif %}

  {%- if section.settings.title_font_size_desktop != blank -%}
  @media all and ( min-width: 1024px ) {

      #shopify-section-{{ section.id }} .block-title {
        font-size: {{ section.settings.title_font_size_desktop }}px;
      }
  }
  {%- endif -%}
{% endstyle %}

{% schema %}
{
  "name": "Products Carousel",
  "tag": "section",
  "class": "section-featuredblogs",
  "disabled_on": {
    "groups": ["header", "footer"],
    "templates": ["article"]
  },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Our Best Sellers"
    },
    {
      "type": "range",
      "id": "title_font_size_mob",
      "min": 12,
      "max": 54,
      "step": 1,
      "unit": "px",
      "label": "Title Font Size MOBILE",
      "default": 18
    },
    {
      "type": "range",
      "id": "title_font_size_desktop",
      "min": 12,
      "max": 54,
      "step": 1,
      "unit": "px",
      "label": "Title Font Size DESKTOP",
      "default": 30
    },
    {
      "type": "select",
      "id": "title_font_weight",
      "label": "Title Font Weight",
      "options": [
        {
          "value": "300",
          "label": "Light"
        },
        {
          "value": "400",
          "label": "Normal"
        },
        {
          "value": "600",
          "label": "Semi Bold"
        },
        {
          "value": "700",
          "label": "Bold"
        }
      ],
      "default": "600"
    },
    {
      "type": "select",
      "id": "title_font_family",
      "label": "Title Font Type",
      "options": [
        {
          "value": "sans-serif",
          "label": "Sans Serif"
        },
        {
          "value": "serif",
          "label": "Serif"
        }
      ],
      "default": "sans-serif"
    },
    {
      "type": "text",
      "id": "button_title",
      "label": "Button Title",
      "default": "See more"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "product_list",
      "id": "products",
      "label": "Products",
      "info": "Choose a list of products which will display as a carousel."
    },
    {
      "type": "select",
      "id": "screen_visibility",
      "label": "Screen Visibility",
      "default": "both",
      "options": [
        {
          "value": "mobile",
          "label": "Mobile"
        },
        {
          "value": "desktop",
          "label": "Desktop"
        },
        {
          "value": "both",
          "label": "Both"
        }
      ]
    }
  ],

  "presets": [
    {
      "name": "Products Carousel"
    }
  ]
}
{% endschema %}
{% render 'quickview-drawer' -%} 