{{ 'splide.min.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign span_class = 'w-[245px] lg:w-[327px]'
  assign btn_class = 'btn-tertiary'
  assign btn_label = 'Read More'
  assign btn_wrap_class = '!mt-7'
-%}

{%- capture items -%}

  {% if section.settings.products != blank %}
      {% for related_product in section.settings.products limit: 10 %}
        {% if related_product.id != product.id %}
          <div class="splide__slide {{ span_class }}">
            {% render 'card-product', card_product: related_product %}
          </div>
        {% endif %}
      {% endfor %}
  {% elsif product.collections != blank %}
    {% for collection in product.collections limit: 1 %}
      {% for related_product in collection.products limit: 10 %}
        {% if related_product.id != product.id %}
          <div class="splide__slide {{ span_class }}">
            {% render 'card-product', card_product: related_product %}
          </div>
        {% endif %}
      {% endfor %}
    {% endfor %}
  {% endif %}

{%- endcapture -%}

{% if items != blank %}
  <div
    id="RelatedProducts-{{ section.id }}"
    class="overflow-hidden"
  >
    <div class="container space-y-5 lg:space-y-8">
      <div
        class="splide group/splide space-y-5 lg:space-y-8"
        data-splide='
          {"arrows": true, "pagination": false, "type": "slide", "gap": "40px", "autoWidth": true, "focus": 0, "omitEnd": true, "breakpoints": {
            "768": {
              "gap": "20px"
            }
          }}
        '
      >
        <header class="flex justify-between space-x-5 items-center">
          <h2 class="m-h1 lg:d-h1 text-blue-1">You may also like</h2>

          <div class="splide__arrows splide__arrows--ltr hidden group-[.is-initialized]/splide:!flex justify-end">
            <button
              class="splide__arrow splide__arrow--prev !w-10 !h-10 disabled:!opacity-0 transition-opacity !bg-transparent !static !transform-none outline-none"
              type="button"
              aria-label="Previous slide"
              aria-controls="splide01-track"
            >
              <svg class="w-full" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path class="fill-blue-1" d="M7.33 24l-2.83-2.829 9.339-9.175-9.339-9.167 2.83-2.829 12.17 11.996z"/>
              </svg>
            </button>
            <button
              class="splide__arrow splide__arrow--next !w-10 !h-10 disabled:!opacity-0 transition-opacity !bg-transparent !static !transform-none outline-none"
              type="button"
              aria-label="Next slide"
              aria-controls="splide01-track"
            >
              <svg class="w-full" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path class="fill-blue-1" d="M7.33 24l-2.83-2.829 9.339-9.175-9.339-9.167 2.83-2.829 12.17 11.996z"/>
              </svg>
            </button>
          </div>
        </header>

        <div class="splide__track !overflow-visible">
          <div class="splide__list text-blue-1 flex">
            {{ items }}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "Related Products Carousel",
  "tag": "section",
  "class": "section-recentproducts",
  "disabled_on": {
    "groups": ["header", "footer"],
    "templates": ["article"]
  },
  "settings": [
    {
      "type": "product_list",
      "id": "products",
      "label": "Featured Products",
      "info": "Select products to feature in this section. If you don't select any, the section will show products from the collection."
    }
  ],
  "presets": [
    {
      "name": "Related Products Carousel"
    }
  ]
}
{% endschema %}
