{{ 'splide.min.css' | asset_url | stylesheet_tag }}

{% liquid
  assign widths = '300, 375, 510'
  assign sizes = '(max-width: 767px) 100vw, (min-width: 768px) 50vw'

  assign class1 = 'h-full w-full object-cover object-center opacity-0 md:max-w-[510px]'
  assign class2 = 'h-full w-full object-cover !opacity-0 group-hover/card:!opacity-100 absolute inset-0 notouchhover '
%}
{%- render 'spinner' -%}

<div id="customer-reviews-{{ section.id }}">
  <div class="md:container md:container-sm">
    <div
      class="splide group/splide  space-y-8 lg:space-y-16"
      data-splide='
        {"arrows": true, "pagination": false, "type": "fade", "gap": "0", "autoWidth": false, "breakpoints": {
          "768": {
            "gap": "0"
          }
        }}
      '
    >
      <div class="relative">
        <div class="splide__track !overflow-visible bg-primary-white-cotton">
          <div class="splide__list text-blue-1 flex group-[.is-initialized]/splide:!block">
            {%- for block in section.blocks -%}
              <div class="splide__slide !translate-x-0">
                <div
                  {{ block.shopify_attributes }}
                  class="px-4 pt-12 pb-[107px] md:px-0 md:py-0 flex flex-col md:flex-row bg-primary-white-cotton"
                >
                  {% if block.settings.product %}
                    {% assign rel_product = block.settings.product %}

                    {% if rel_product.featured_media.media_type == 'image' %}
                      <div class="block mb-12 md:mb-0 md:mr-[40px] xl:mr-[90px]">
                        {%- render 'lazyimg',
                          img: rel_product.featured_media,
                          width: '510px',
                          height: '510px',
                          widths: widths,
                          class: class1,
                          sizes: sizes
                        -%}
                      </div>
                    {% endif %}
                  {% endif %}
                  <div class="flex-col flex items-center justify-center text-center md:items-start md:text-left md:max-w-[488px] md:py-[63px] md:justify-start md:pr-5 2xl:pr-0 flex-1">
                    <p class="text-xl leading-8 font-sec font-normal text-primary-blue mb-6 md:mb-10">
                      {{ block.settings.title }}
                    </p>

                    <div class="mb-4 md:mb-6">
                      {%- render 'icon-five-stars' %}
                    </div>

                    <div class="wysiwyg font-sans text-sm text-primary-blue mb-4 md:mb-6 md:text-base md:font-semibold md:h-[100px] md:overflow-hidden md:line-clamp-4">
                      {{ block.settings.testimonial }}
                    </div>

                    {% if block.settings.name %}
                      <p class="m-h4 text-xs font-semibold md:font-normal text-primary-blue mb-4 md:mb-6">
                        {{ block.settings.name }}
                      </p>
                    {% endif %}

                    <a class="btn-tertiary text-sm text-primary-blue hover:font-normal" href="{{ rel_product.url }}">
                      {{- rel_product.title -}}
                    </a>
                  </div>
                </div>
              </div>
            {%- endfor -%}
          </div>
        </div>

        <div class="max-md:px-4 space-y-3 absolute w-full bottom-[25px] md:botton-[5%] md:right-[35px] 2xl:bottom-[63px] md:w-auto">
          <!-- progress bar -->
          <div class="bg-secondary-blue-100 slider-progress h-px flex items-center md:hidden">
            <div class="bg-secondary-blue-600 h-px transition-all w-0 lg:h-0.5 slider-progress-bar"></div>
          </div>

          <!-- arrows -->
          <div class="splide__arrows splide__arrows--ltr hidden group-[.is-initialized]/splide:!flex justify-center items-center relative">
            <!-- counter -->
            <div class="text-xs md:hidden">
              <span data-splide-current-page class="data-[splide-is-last-page=true]:text-secondary-blue-200">1</span>
              /
              <span data-splide-total-pages class="text-secondary-blue-200"></span>
            </div>

            <div class="flex items-center absolute right-0">
              <button
                class="
                  splide__arrow splide__arrow--prev disabled:!text-secondary-blue-200 transition-colors !bg-transparent
                  !static !transform-none outline-none
                "
                type="button"
                aria-label="Previous slide"
                aria-controls="splide01-track"
              >
                {%- render 'icon-long-arrow-right', class: '!w-6 !h-6' -%}
              </button>

              <button
                class="
                  splide__arrow splide__arrow--next disabled:!text-secondary-blue-200 transition-colors
                  !bg-transparent !static !transform-none outline-none
                "
                type="button"
                aria-label="Next slide"
                aria-controls="splide01-track"
              >
                {%- render 'icon-long-arrow-right', class: '!w-6 !h-6' -%}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Reviews Carousel",
  "tag": "section",
  "class": "section-customer-reviews",
  "disabled_on": {
    "groups": ["header", "footer"],
    "templates": ["article"]
  },
  "settings": [],
  "blocks": [
    {
      "type": "block",
      "name": "Block",
      "settings": [
        {
          "type": "header",
          "content": "Related Product Settings"
        },
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "header",
          "content": "Testimonial Settings"
        },
        {
          "type": "text",
          "id": "title",
          "default": "Customer Reviews",
          "label": "Testimonial Title"
        },
        {
          "type": "richtext",
          "id": "testimonial",
          "label": "Testimonial Copy",
          "default": "<p>“One of the highest quality products I have experienced. Very very soft and drapes beautifully on my bed.”</p>"
        },
        {
          "type": "text",
          "id": "name",
          "default": "John Smith",
          "label": "Testimonial Name"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Reviews Carousel",
      "blocks": [
        {
          "type": "block"
        },
        {
          "type": "block"
        },
        {
          "type": "block"
        }
      ]
    }
  ]
}
{% endschema %}
