<div class="container">
  {% if section.settings.anchor_id != blank %}
    {% render 'page-anchor', anchor_id: section.settings.anchor_id %}
  {% endif %}
  <div class="rich-text  animation an-fadeup">
    <div class="">
      <div class="space-y-5 lg:space-y-8">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'heading' -%}
              <h2
                class="{% if block.settings.sub_title_size == 'h5'%}m-h5 font-semibold lg:d-h5 {% else %}m-h5 font-semibold lg:d-h2{% endif %}"
                {{ block.shopify_attributes }}
              >
                {{ block.settings.heading }}
              </h2>
            {%- when 'main_heading' -%}
              <h2
                class="s-m-h2 lg:s-d-h2 !mt-3 lg:!mt-4"
                {{ block.shopify_attributes }}
              >
                {{ block.settings.heading }}
              </h2>

            {%- when 'text' -%}
              <div
                class="{% if section.settings.full_width != true %}md:w-4/12{% endif %}"
                {{ block.shopify_attributes }}
              >
                {{ block.settings.text }}
              </div>
            {%- when 'button' -%}
              <div
                class=" gap-3 flex flex-wrap"
                {{ block.shopify_attributes }}
              >
                {%- if block.settings.button_label != blank -%}
                  <a
                    {% if block.settings.button_link == blank %}
                      role="link" aria-disabled="true"
                    {% else %}
                      href="{{ block.settings.button_link }}"
                    {% endif %}
                    class="btn-large btn-primary"
                  >
                    {{- block.settings.button_label | escape -}}
                  </a>
                {%- endif -%}
                {%- if block.settings.button_label_2 != blank -%}
                  <a
                    {% if block.settings.button_link_2 == blank %}
                      role="link" aria-disabled="true"
                    {% else %}
                      href="{{ block.settings.button_link_2 }}"
                    {% endif %}
                    class="btn-large btn-secondary"
                  >
                    {{- block.settings.button_label_2 | escape -}}
                  </a>
                {%- endif -%}
              </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.rich-text.name",
  "tag": "section",
  "class": "section-richtext",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "default": false,
      "label": "Full width"
    },
    {
      "type": "text",
      "id": "anchor_id",
      "label": "Anchor ID",
      "info": "Add an ID to the section to make it linkable. e.g. 'section-id' will become '#section-id'"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Sub Title",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Sub Title",
          "label": "Sub Title"
        },
        {
          "type": "select",
          "id": "sub_title_size",
          "options": [
            {
              "value": "h2",
              "label": "h2"
            },
            {
              "value": "h5",
              "label": "h5"
            }
          ],
          "default": "h2",
          "label": "Sub Title Size"
        }
      ]
    },
    {
      "type": "main_heading",
      "name": "Main Title",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Main Title",
          "label": "Main Title"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.rich-text.blocks.text.name",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>",
          "label": "t:sections.rich-text.blocks.text.settings.text.label"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.rich-text.blocks.buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "t:sections.rich-text.blocks.buttons.settings.button_label_1.label",
          "info": "t:sections.rich-text.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.rich-text.blocks.buttons.settings.button_link_1.label"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "label": "t:sections.rich-text.blocks.buttons.settings.button_label_2.label",
          "info": "t:sections.rich-text.blocks.buttons.settings.button_label_2.info"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "t:sections.rich-text.blocks.buttons.settings.button_link_2.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.rich-text.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "main_heading"
        },
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}
