{%- liquid
  assign video_id = section.settings.video.id | default: section.settings.video_url.id
  assign video_alt = section.settings.video.alt | default: section.settings.description
  assign alt = 'sections.video.load_video' | t: description: video_alt | escape
  assign poster = section.settings.video.preview_image | default: section.settings.cover_image

  if section.settings.video != null
    assign ratio_diff = section.settings.video.aspect_ratio | minus: poster.aspect_ratio | abs
    if ratio_diff < 0.01 and ratio_diff > 0
      assign fix_ratio = true
    endif
  endif
-%}

<div class="{% if section.settings.fullscreen != true %}container{% endif %}">
  <div class="space-y-10 lg:space-y-12">
    {%- if section.settings.video == null and section.settings.video_url != null -%}
      {%- liquid
        assign loop = ''
        if section.settings.enable_video_looping
          assign loop = '&loop=1&playlist=' | append: video_id
        endif
      -%}
      {%- if section.settings.video_url.type == 'youtube' -%}
        <iframe
          src="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1&autoplay=0{{ loop }}"
          class="js-youtube aspect-video w-full"
          allow="autoplay; encrypted-media"
          allowfullscreen
          title="{{ section.settings.description | escape }}"
        ></iframe>
      {%- else -%}
        <iframe
          src="https://player.vimeo.com/video/{{ video_id }}?autoplay=0{{ loop }}"
          class="js-vimeo aspect-video w-full"
          allow="autoplay; encrypted-media"
          allowfullscreen
          title="{{ section.settings.description | escape }}"
        ></iframe>
      {%- endif -%}
    {%- else -%}
      {{
        section.settings.video
        | video_tag:
          image_size: '1100x',
          autoplay: false,
          loop: section.settings.enable_video_looping,
          controls: true,
          muted: false,
          class: ' aspect-video w-full'
      }}
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.video.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "label": "t:sections.video.settings.enable_video_looping.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.video.settings.header__1.content"
    },
    {
      "type": "video",
      "id": "video",
      "label": "t:sections.video.settings.video.label"
    },
    {
      "type": "header",
      "content": "t:sections.video.settings.header__2.content"
    },
    {
      "type": "paragraph",
      "content": "t:sections.video.settings.paragraph.content"
    },
    {
      "type": "video_url",
      "id": "video_url",
      "accept": ["youtube", "vimeo"],
      "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
      "label": "t:sections.video.settings.video_url.label",
      "info": "t:sections.video.settings.video_url.info"
    },
    {
      "type": "checkbox",
      "id": "fullscreen",
      "label": "Fit to screen",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "t:sections.video.presets.name"
    }
  ]
}
{% endschema %}
